/* CSS Document */


/*/////////////////////////////////////////////////////////////////////////////////////////// BODY */
html,body,div,pre,form,fieldset,input,h1,h2,h3,h4,h5,h6,p,textarea,ul,ol,li,dl,dt,dd,blockquote,th,td,
/* HTML 5 elements */ abbr,article,aside,audio,canvas,details,figcaption,figure,footer,header,hgroup,
mark,menu,meter,nav,output,progress,section,summary,time,video { margin: 0; padding: 0; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset,img { border: 0; }
address,caption,cite,code { font-style: normal; font-weight: normal; }
ul { list-style: none; }
caption,th { text-align: left; }
h1,h2,h3,h4,h5,h6 { font-size: 100%; font-weight: normal; }
q:before,q:after { content: ''; }
abbr,acronym { border: 0; }
a { outline:none; text-decoration:none; color:#000 } a:hover { color:#000 } a img { border:none; }
:focus { outline:none; }/* For Chrome */
body,html{width:100%; height:100%; overflow:hidden; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000; background:#fff }

p {
    margin-top: 90px;
    text-align: center;
    font-size: 70px;
    color: #ffffff;
}

.front { background: url('../img/flag.png') 0px 0px no-repeat; }

.back { background: url('../img/flag.png') 0px 0px no-repeat; }

/* entire container, keeps perspective */
.flip-container { -webkit-perspective: 1000; }
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper { -webkit-transform: rotateX(180deg); }

.flip-container, .front, .back { width: 413px; height: 269px; }

/* flip speed goes here */
.flipper { -webkit-transition: 0.5s ease-in-out; -webkit-transform-style: preserve-3d; position: relative; }

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front { z-index: 2; }

/* back, initially hidden pane */
.back { -webkit-transform: rotateY(180deg); }

.flip-container { position: relative; }

.back { -webkit-transform: rotateX(180deg); }

.flip-container .flipper { -webkit-transform-origin: 100% 135px; /* half of height */ }

.flip-container:hover .flipper { -webkit-transform: rotateX(-180deg); }