/* Debug */
pre.debug {
  background: #fefefe;
  color: #000;
  display: block;
  width: 98%;
  margin: 5px auto;
  padding: 1%;
  border-top: 2px red solid;
  border-bottom: 2px red solid;
}

/* Clear Fix */
.clearfix { *zoom: 1; z-index: -1; }
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

/* Reticencias */
.truncated {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Relative */
* { position: relative; }

/* Phone numbers */
a[href^="tel"], a[href^="sms"] { color: initial; text-decoration: none; }

/* Form Appearance */
input, textarea { appearance: none; }

/*Input Border*/
input, textarea, button {
  border: 1px solid #000;
  /*user-select: none !important;*/
  backface-visibility: hidden !important;
}

input, textarea { user-select: initial; }

textarea:focus, input:focus { outline: 0; }

/*Vertial Align*/
.va-parent { display: table; height: 100%; }
.va-parent-inline { display: inline-table; }
.va-child { display: table-cell; vertical-align: middle; }

/*Images*/
img { width: 100%; }

/*Height*/
html, body {
  height: 100%;
}

a { text-decoration: none; }

b, strong { font-weight: bold; }

/*UX Hacks*/
button, a {
  tap-highlight-color:transparent;
  /*user-select: none;*/
  /*backface-visibility: hidden;*/
  /*perspective: 1000;*/
  /*overflow-scrolling: touch;*/
}