/* Default CSS */
html,body,div,pre,form,fieldset,input,h1,h2,h3,h4,h5,h6,p,textarea,ul,ol,li,dl,dt,dd,blockquote,th,td, abbr,article,aside,audio,canvas,details,figcaption,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,summary,time,video { margin: 0; padding: 0; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset,img { border: 0; }
address,caption,cite,code { font-style: normal; font-weight: normal; }
ul { list-style: none; }
caption,th { text-align: left; }
h1,h2,h3,h4,h5,h6 { font-size: 16px; font-weight: normal; }
q:before,q:after { content: ''; }
abbr,acronym { border: 0; }
a { outline:none; text-decoration:none; } a img { border:none; }
:focus { outline:none; }
body,html{width:100%; height:100%; overflow: visible; font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif; font-size: 12px; color: #000;}

.grid-container {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    }

/* Main CSS */
body, html  {
	background-color: $colorWhite;
}

header {
    position: relative;
    padding: 10px;
    font-size: 24px;
    text-align: center;
}

ul {
    position: relative;
    width: auto;
    height: auto;

    li {
        height: 250px;
        padding: 10px;

        div {
            width: 100%;
            height: 100%;
            background-color: #747474;
        }
    }
}

footer {
    position: relative;
    padding-top: 50px;
    text-align: center;

    .slider {
        top: 10px;
        width: 580px;
        margin:10px;
        background-color:#ff0;
        margin: auto;
    }

    h1 {
        padding-top: 10px;
    }
}

.ui-slider .ui-slider-handle { cursor: pointer; }