/* Vendor CSS */
@import "vendor/core";
@import "vendor/normalize";

/* Main CSS */
body {
	background: #fff;
}

#container {
	table {
		p { font-size: 12px; margin-left: 20px; }

		textarea {
			font-size: 11px;
			padding: 5px;
			width: 250px;
		}

		input {
			font-size: 11px;
			padding: 5px;
			width: 50px;
			margin-left: 10px;
		}
	}

	.wrapper {
		display: table;
		width: 800px;
		margin: 0 auto;
		height: 50px;
		background-color:#f2f2f2;

		p {
			display: table-cell;
			text-align: center;
			vertical-align: middle;

			button {
				padding: 10px;
			}
		}
	}

	.btn { cursor: pointer; }
}