{% block subject %} Montepio Ativ - Recuperação de palavra-passe {% endblock %}
{% block body_html %}

<table width="600" height="auto" border="0" cellspacing="0" cellpadding="0" align="center" valign="top" style="border:none;">
    <tr>
        <td>

            {# spacing #}
            <table width="600" height="auto" border="0" cellspacing="0" cellpadding="0" align="center" valign="top" style="border:none;">
                <tr>
                    <td height="20"></td>
                </tr>
            </table>
            {# /spacing #}

            {# header #}
            <table width="600" height="auto" border="0" cellspacing="0" cellpadding="0" align="center" valign="top" style="border:none;">
                <tr>
                    <td align="right">
                        <img style="display:block;" src="http://ativ-mobile.com/api/assets/header_logo.png" width="143" height="50" />
                    </td>
                </tr>
            </table>
            {# /header #}

            {# spacing #}
            <table width="600" height="auto" border="0" cellspacing="0" cellpadding="0" align="center" valign="top" style="border:none;">
                <tr>
                    <td height="40"></td>
                </tr>
            </table>
            {# /spacing #}

            {# title #}
            <table width="600" height="auto" border="0" cellspacing="0" cellpadding="0" align="center" valign="top" style="border:none;">
                <tr>
                    <td align="left">
                        <span style="font-family:Tahoma, Geneva, sans-serif; font-weight:100; line-height:1; font-size:20px; color:#666666;">
                            Utilizador
                        </span>
                        <span style="font-family:Tahoma, Geneva, sans-serif; font-weight:100; line-height:1; font-size:20px; color:#FFA000;">
                            {{ data.name|title }}
                        </span>
                    </td>
                </tr>
            </table>
            {# /title #}

            {# spacing #}
            <table width="600" height="auto" border="0" cellspacing="0" cellpadding="0" align="center" valign="top" style="border:none;">
                <tr>
                    <td height="20"></td>
                </tr>
            </table>
            {# /spacing #}

            {# content #}
            <table width="600" height="auto" border="0" cellspacing="0" cellpadding="0" align="center" valign="top" style="border:none;">
                <tr>
                    <td>
                        <span style="font-family:Tahoma, Geneva, sans-serif; font-weight:100; line-height:1; font-size:12px; color:#000000;">
                            A sua nova palavra-passe é <span style="font-weight: bold;">{{ data.pw }}</span>
                        </span>
                    </td>
                </tr>
            </table>
            {# /content #}

            {# spacing #}
            <table width="600" height="auto" border="0" cellspacing="0" cellpadding="0" align="center" valign="top" style="border:none;">
                <tr>
                    <td height="20"></td>
                </tr>
            </table>
            {# /spacing #}

            {# footer #}
            <table width="600" height="auto" border="0" cellspacing="0" cellpadding="0" align="center" valign="top" style="border:none;">
                <tr>
                    <td>
                        <span style="font-family:Tahoma, Geneva, sans-serif; font-weight:100; line-height:1; font-size:7.9px; color:#000000; line-height:1.3;"><span style="font-weight:bold;">Montepio Crédito - Instituição Financeira de Crédito S.A.</span><br/>Capital Social EUR 30.000.000 C.R.C. do Porto e Pessoa Colectiva nº 502 774 312 - Rua Júlio Dinis nº 158/160 2º  4050-318 PORTO - Tel: 226 084 300 Fax: 226 099 725<br/>Linha de Apoio ao Cliente 707 50 20 21 - <a style="font-weight:100; color:#000000; text-decoration: none;" href="http://www.montepiocredito.pt">www.montepiocredito.pt</a></span>
                    </td>
                </tr>
            </table>
            {# /footer #}

        </td>
    </tr>
</table>

{% endblock %}