{% block subject %} {{ json.subject }} {% endblock %}
{% block body_html %}
<table width="600" height="auto" border="0" cellspacing="0" cellpadding="0" align="center" valign="top" style="border:none;">
	<tr>
		<td>

			{# spacing #}
			<table width="600" height="auto" border="0" cellspacing="0" cellpadding="0" align="center" valign="top" style="border:none;">
				<tr>
					<td height="20"></td>
				</tr>
			</table>
			{# /spacing #}

			{# header #}
			<table width="600" height="auto" border="0" cellspacing="0" cellpadding="0" align="center" valign="top" style="border:none;">
				<tr>
					<td align="right">
						<img style="display:block;" src="http://ativ-mobile.com/api/assets/header_logo.png" width="143" height="50" />
					</td>
				</tr>
			</table>
			{# /header #}

			{# spacing #}
			<table width="600" height="auto" border="0" cellspacing="0" cellpadding="0" align="center" valign="top" style="border:none;">
				<tr>
					<td height="40"></td>
				</tr>
			</table>
			{# /spacing #}

			{% if json.description is not null %}

				{# description #}
				<table width="600" height="auto" border="0" cellspacing="0" cellpadding="10" align="left" valign="top" style="border:none;">
					<tr>
						<td height="auto" align="left" style=" border: 1px solid #B1B1B1;">
							<span style="font-family:Tahoma, Geneva, sans-serif; font-weight:100; line-height:1.2; font-size:12px; color:#666666;">
								{{ json.description|nl2br }}
							</span>
						</td>
					</tr>
				</table>
				{# /description #}

				{# spacing #}
				<table width="600" height="auto" border="0" cellspacing="0" cellpadding="0" align="center" valign="top" style="border:none;">
					<tr>
						<td height="40"></td>
					</tr>
				</table>
				{# /spacing #}

			{% endif %}

			{# title #}
			<table width="600" height="auto" border="0" cellspacing="0" cellpadding="0" align="center" valign="top" style="border:none;">
				<tr>
					<td align="left">
						<span style="font-family:Tahoma, Geneva, sans-serif; font-weight:100; line-height:1; font-size:20px; color:#666666;">
							SIMULAÇÃO
						</span>
						<span style="font-family:Tahoma, Geneva, sans-serif; font-weight:100; line-height:1; font-size:20px; color:#FFA000;">
							Nº {{ json.simulacao_token }}
						</span>
					</td>
				</tr>
			</table>
			{# /title #}

			{# spacing #}
			<table width="600" height="auto" border="0" cellspacing="0" cellpadding="0" align="center" valign="top" style="border:none;">
				<tr>
					<td height="40"></td>
				</tr>
			</table>
			{# /spacing #}

			{# main-header-title #}
			<table width="600" height="auto" border="0" cellspacing="0" cellpadding="8" align="left" valign="top" style="border:none; background-color:#FFA000;">
				<tr>
					<td align="left">
						<span style="font-family:Tahoma, Geneva, sans-serif; font-weight:100; line-height:1; font-size:12px; color:#FFFFFF;">
							DADOS DA VIATURA
						</span>
					</td>
				</tr>
			</table>
			{# /main-header-title #}

			{# main-header #}
			<table width="600" height="auto" border="0" cellspacing="0" cellpadding="0" align="left" valign="top" style="border:none; background-color:#FFFFFF;">
				<tr>

					{# left-table #}
					<td width="300" valign="top">
						<table width="300" height="auto" border="0" cellspacing="0" cellpadding="5" align="left" valign="top" style="border:none; background-color:#FFFFFF;">
							<tr height="25">
								<td width="175" align="right" style="border-right: 1px solid #FFA000; ">
									<span style="font-family:Tahoma, Geneva, sans-serif; font-weight:100; line-height:1; font-size:12px; color:#999999;">
										Tipo de Bem
									</span>
								</td>
								<td width="125" align="left">
									<span style="font-family:Tahoma, Geneva, sans-serif; font-weight:100; line-height:1; font-size:12px; color:#282828;">
										{{ json.simulation.input.tipo_bem }}
									</span>
								</td>
							</tr>
						</table>
					</td>
					{# /left-table #}

					{# center-table #}
					<td width="170" valign="top">
						<table width="170" height="auto" border="0" cellspacing="0" cellpadding="5" align="left" valign="top" style="border:none; background-color:#FFFFFF;">
							<tr height="25">
								<td width="85" align="right" style="border-right: 1px solid #FFA000; ">
									<span style="font-family:Tahoma, Geneva, sans-serif; font-weight:100; line-height:1; font-size:12px; color:#999999;">
										Ano
									</span>
								</td>
								<td width="85" align="left">
									<span style="font-family:Tahoma, Geneva, sans-serif; font-weight:100; line-height:1; font-size:12px; color:#282828;">
										{{ json.simulation.input.idade_equip }}
									</span>
								</td>
							</tr>
						</table>
					</td>
					{# center-table #}

					{# right-table #}
					<td width="130" valign="top">
						<table width="130" height="auto" border="0" cellspacing="0" cellpadding="5" align="left" valign="top" style="border:none; background-color:#FFFFFF;">
							<tr height="25">
								<td width="65" align="right" style="border-right: 1px solid #FFA000; ">
									<span style="font-family:Tahoma, Geneva, sans-serif; font-weight:100; line-height:1; font-size:12px; color:#999999;">
										Estado
									</span>
								</td>
								<td width="65" align="left">
									<span style="font-family:Tahoma, Geneva, sans-serif; font-weight:100; line-height:1; font-size:12px; color:#282828;">
										{{ json.simulation.input.estado }}
									</span>
								</td>
							</tr>
						</table>
					</td>
					{# right-table #}

				</tr>
			</table>

			{# spacing #}
			<table width="600" height="auto" border="0" cellspacing="0" cellpadding="0" align="center" valign="top" style="border:none;">
				<tr height="20"> <td></td> </tr>
			</table>
			{# /spacing #}

			{# main-body-title #}
			<table width="600" height="auto" border="0" cellspacing="0" cellpadding="8" align="left" valign="top" style="border:none; background-color:#FFA000;">
				<tr>
					<td align="left">
						<span style="font-family:Tahoma, Geneva, sans-serif; font-weight:100; line-height:1; font-size:12px; color:#FFFFFF;">
							CONDIÇÕES DE FINANCIAMENTO
						</span>
					</td>
				</tr>
			</table>
			{# /main-body-title #}

			{# main-body #}
			<table width="600" height="auto" border="0" cellspacing="0" cellpadding="0" align="left" valign="top" style="border:none; background-color:#FFFFFF;">
				{# main row #}
				<tr>

					{# left-table #}
					<td width="300" valign="top">
						<table width="300" height="auto" border="0" cellspacing="0" cellpadding="5" align="left" valign="top" style="border:none; background-color:#FFFFFF;">

							<tr height="25">
								<td width="175" align="right" style="border-right: 1px solid #FFA000; ">
									<span style="font-family:Tahoma, Geneva, sans-serif; font-weight:100; line-height:1; font-size:12px; color:#999999;">Tipo de Cliente</span>
								</td>
								<td width="125" align="left">
									<span style="font-family:Tahoma, Geneva, sans-serif; font-weight:100; line-height:1; font-size:12px; color:#282828;">{{ json.simulation.input.tipo_cliente }} </span>
								</td>
							</tr>

							<tr height="25">
								<td width="175" align="right" style="border-right: 1px solid #FFA000; ">
									<span style="font-family:Tahoma, Geneva, sans-serif; font-weight:100; line-height:1; font-size:12px; color:#999999;">Produto</span>
								</td>
								<td width="125" align="left">
									<span style="font-family:Tahoma, Geneva, sans-serif; font-weight:100; line-height:1; font-size:12px; color:#282828;">{{ json.simulation.input.produto }}</span>
								</td>
							</tr>

							<tr height="25">
								<td width="175" align="right" style="border-right: 1px solid #FFA000; ">
									<span style="font-family:Tahoma, Geneva, sans-serif; font-weight:100; line-height:1; font-size:12px; color:#999999;">Finalidade</span>
								</td>
								<td width="125" align="left">
									<span style="font-family:Tahoma, Geneva, sans-serif; font-weight:100; line-height:1; font-size:12px; color:#282828;">{{ json.simulation.input.finalidade }}</span>
								</td>
							</tr>

							{# spacing #}
							<tr height="25">
								<td width="175" style="border-right: 1px solid #FFA000; "></td>
								<td width="125"></td>
							</tr>
							{# /spacing #}

							<tr height="25">
								<td width="175" align="right" style="border-right: 1px solid #FFA000; ">
									<span style="font-family:Tahoma, Geneva, sans-serif; font-weight:100; line-height:1; font-size:12px; color:#999999;">Tipo de Taxa</span>
								</td>
								<td width="125" align="left">
									<span style="font-family:Tahoma, Geneva, sans-serif; font-weight:100; line-height:1; font-size:12px; color:#282828;">{{ json.simulation.input.tipo_taxa }}</span>
								</td>
							</tr>

							<tr height="25">
								<td width="175" align="right" style="border-right: 1px solid #FFA000; ">
									<span style="font-family:Tahoma, Geneva, sans-serif; font-weight:100; line-height:1; font-size:12px; color:#999999;">Taxa Nominal </span>
								</td>
								<td width="125" align="left">
									<span style="font-family:Tahoma, Geneva, sans-serif; font-weight:100; line-height:1; font-size:12px; color:#282828;">{{ json.simulation.output.tan }} %</span>
								</td>
							</tr>

							{% if json.simulation.produto.cliente_tipo_id == 1 %}

							<tr height="25">
								<td width="175" align="right" style="border-right: 1px solid #FFA000; ">
									<span style="font-family:Tahoma, Geneva, sans-serif; font-weight:100; line-height:1; font-size:12px; color:#999999;">TAEG<sup>2</sup></span>
								</td>
								<td width="125" align="left">
									<span style="font-family:Tahoma, Geneva, sans-serif; font-weight:100; line-height:1; font-size:12px; color:#282828;">{{ json.simulation.output.taeg }} %</span>
								</td>
							</tr>

							{% else %}

							<tr height="25">
								<td width="175" align="right" style="border-right: 1px solid #FFA000; ">
									<span style="font-family:Tahoma, Geneva, sans-serif; font-weight:100; line-height:1; font-size:12px; color:#999999;">TAE<sup>2</sup></span>
								</td>
								<td width="125" align="left">
									<span style="font-family:Tahoma, Geneva, sans-serif; font-weight:100; line-height:1; font-size:12px; color:#282828;">{{ json.simulation.output.tae }} %</span>
								</td>
							</tr>

							{% endif %}

							{# spacing #}
							<tr height="25">
								<td width="175" style="border-right: 1px solid #FFA000; "></td>
								<td width="125"></td>
							</tr>
							{# /spacing #}

							<tr height="25">
								<td width="175" align="right" style="border-right: 1px solid #FFA000; ">
									<span style="font-family:Tahoma, Geneva, sans-serif; font-weight:100; line-height:1; font-size:12px; color:#999999;">Plano Proteção Vida</span>
								</td>
								<td width="125" align="left">
									<span style="font-family:Tahoma, Geneva, sans-serif; font-weight:100; line-height:1; font-size:12px; color:#282828;">{% if json.simulation.input.plano_protecao == 'vida' %} Incluído {% else %} Não Incluído{% endif %}
									</span>
								</td>
							</tr>

							<tr height="25">
								<td width="175" align="right" style="border-right: 1px solid #FFA000; ">
									<span style="font-family:Tahoma, Geneva, sans-serif; font-weight:100; line-height:1; font-size:12px; color:#999999;">Plano Proteção Sénior</span>
								</td>
								<td width="125" align="left">
									<span style="font-family:Tahoma, Geneva, sans-serif; font-weight:100; line-height:1; font-size:12px; color:#282828;">{% if json.simulation.input.plano_protecao == 'vida_senior' %} Incluído {% else %} Não Incluído{% endif %}
									</span>
								</td>
							</tr>

							<tr height="25">
								<td width="175" align="right" style="border-right: 1px solid #FFA000; ">
									<span style="font-family:Tahoma, Geneva, sans-serif; font-weight:100; line-height:1; font-size:12px; color:#999999;">Plano Proteção Total</span>
								</td>
								<td width="125" align="left">
									<span style="font-family:Tahoma, Geneva, sans-serif; font-weight:100; line-height:1; font-size:12px; color:#282828;">{% if json.simulation.input.plano_protecao == 'completo' %} Incluído {% else %} Não Incluído{% endif %}
									</span>
								</td>
							</tr>
						</table>
					</td>
					{# /left-table #}

					{# right-table #}
					<td width="300" valign="top">
						<table width="300" height="auto" border="0" cellspacing="0" cellpadding="5" align="left" valign="top" style="border:none; background-color:#FFFFFF;">

							<tr height="25">
								<td width="175" align="right" style="border-right: 1px solid #FFA000; ">
									<span style="font-family:Tahoma, Geneva, sans-serif; font-weight:100; line-height:1; font-size:12px; color:#999999;">P.V.P.</span>
								</td>
								<td width="125" align="left">
									<span style="font-family:Tahoma, Geneva, sans-serif; font-weight:100; line-height:1; font-size:12px; color:#282828;">€ {{ json.simulation.input.pvp }}</span>
								</td>
							</tr>

							<tr height="25">
								<td width="175" align="right" style="border-right: 1px solid #FFA000; ">
									<span style="font-family:Tahoma, Geneva, sans-serif; font-weight:100; line-height:1; font-size:12px; color:#999999;">Prazo</span>
								</td>
								<td width="125" align="left">
									<span style="font-family:Tahoma, Geneva, sans-serif; font-weight:100; line-height:1; font-size:12px; color:#282828;">{{ json.simulation.input.prazo }} Meses</span>
								</td>
							</tr>

							<tr height="25">
								<td width="175" align="right" style="border-right: 1px solid #FFA000; ">
									<span style="font-family:Tahoma, Geneva, sans-serif; font-weight:100; line-height:1; font-size:12px; color:#999999;">Entrada Inicial</span>
								</td>
								<td width="125" align="left">
									<span style="font-family:Tahoma, Geneva, sans-serif; font-weight:100; line-height:1; font-size:12px; color:#282828;">€ {{ json.simulation.input.entrada_inicial }}</span>
								</td>
							</tr>

							{# se leasing #}
							{% if json.simulation.produto.negocio_tipo_id == 2 %}
							<tr height="25">
								<td width="175" align="right" style="border-right: 1px solid #FFA000; ">
									<span style="font-family:Tahoma, Geneva, sans-serif; font-weight:100; line-height:1; font-size:12px; color:#999999;">Valor Residual</span>
								</td>
								<td width="125" align="left">
									<span style="font-family:Tahoma, Geneva, sans-serif; font-weight:100; line-height:1; font-size:12px; color:#282828;">€ {{ json.simulation.input.valor_residual }}</span>
								</td>
							</tr>
							{% endif %}

							<tr height="25">
								<td width="175" align="right" style="border-right: 1px solid #FFA000; ">
									<span style="font-family:Tahoma, Geneva, sans-serif; font-weight:100; line-height:1; font-size:12px; color:#999999;">MTIC<sup>1</sup></span>
								</td>
								<td width="125" align="left">
									<span style="font-family:Tahoma, Geneva, sans-serif; font-weight:100; line-height:1; font-size:12px; color:#282828;">€ {{ json.simulation.output.mtic }}</span>
								</td>
							</tr>

							{# spacing #}
							<tr height="25">
								<td width="175" style="border-right: 1px solid #FFA000; "></td>
								<td width="125"></td>
							</tr>
							{# /spacing #}

							<tr height="50">
								<td width="175" align="right" style="border-right: 1px solid #FFA000; ">
									<span style="font-family:Tahoma, Geneva, sans-serif; font-weight:100; line-height:1; font-size:12px; color:#999999;">Comissão / Despesas Contrato</span>
								</td>
								<td width="125" align="left">
									<span style="font-family:Tahoma, Geneva, sans-serif; font-weight:100; line-height:1; font-size:12px; color:#282828;">{{ json.simulation.input.comp_desp_ctr }}<br/>€ {{ json.simulation.output.comissao_abertura_contrato }}</span>
								</td>
							</tr>

							{# spacing #}
							<tr height="25">
								<td width="175" style="border-right: 1px solid #FFA000; "></td>
								<td width="125"></td>
							</tr>
							{# /spacing #}

							<tr height="25">
								<td width="175" align="right" style="border-right: 1px solid #FFA000; ">
									<span style="font-family:Tahoma, Geneva, sans-serif; font-weight:100; line-height:1; font-size:12px; color:#999999;">{% if json.simulation.produto.negocio_tipo_id == 1 %}Prestação {% else %} Renda {% endif %}</span>
								</td>
								<td width="125" align="left">
									<span style="font-family:Tahoma, Geneva, sans-serif; font-weight:100; line-height:1; font-size:12px; color:#282828;">{% if json.simulation.produto.negocio_tipo_id == 1 %}€ {{ json.simulation.output.prestacao }} {% else %} € {{ json.simulation.output.renda }} {% endif %}</span>
								</td>
							</tr>

							<tr height="25">
								<td width="175" align="right" style="border-right: 1px solid #FFA000; ">
									<span style="font-family:Tahoma, Geneva, sans-serif; font-weight:100; line-height:1; font-size:12px; color:#999999;">Comissão Processamento</span>
								</td>
								<td width="125" align="left">
									<span style="font-family:Tahoma, Geneva, sans-serif; font-weight:100; line-height:1; font-size:12px; color:#282828;">€ {{ json.simulation.output.comissao_processamento }}</span>
								</td>
							</tr>
						</table>
					</td>
					{# right-table #}

				</tr>
				{# /main row #}

			</table>

			{# final row #}
			<table width="600" border="0" cellspacing="0" cellpadding="0" align="left" valign="top" style="border:none; background-color:#FFFFFF;">
				<tr>

					<td width="300" valign="top">
						<table width="300" height="auto" border="0" cellspacing="0" cellpadding="5" align="left" valign="top" style="border:none; background-color:#FFFFFF;">
							<tr>
								<td align="left" height="30"></td>
							</tr>
						</table>
					</td>

					<td width="300" valign="top">
						<table width="300" height="auto" border="0" cellspacing="0" cellpadding="5" align="left" valign="top" style="border:none; background-color:#FFFFFF;">
							{# spacing #}
							<tr height="20">
								<td colspan="2"></td>
							</tr>
							{# /spacing #}

							<tr height="30">
								<td width="175" align="right" style="background-color:#FFA000;">
									<span style="font-family:Tahoma, Geneva, sans-serif; font-weight:100; line-height:1; font-size:12px; color:#FFFFFF;">
										{% if json.simulation.produto.negocio_tipo_id == 1 %}
											PRESTAÇÃO TOTAL
										{% else %}
											RENDA TOTAL
										{% endif %}
									</span>
								</td>
								<td width="125" align="left" style="background-color:#FFD48E;">
									<span style="font-family:Tahoma, Geneva, sans-serif; font-weight:bold; line-height:1; font-size:12px; color:#282828;">
										{% if json.simulation.produto.negocio_tipo_id == 1 %}
											€ {{ json.simulation.output.prestacao_total }}
										{% else %}
											€ {{ json.simulation.output.renda_total }}
										{% endif %}
									</span>
								</td>
							</tr>
						</table>
					</td>

				</tr>
			</table>
			{# /final row #}

			{# footer #}
			<table width="600" height="auto" border="0" cellspacing="0" cellpadding="0" align="left" valign="top" style="border:none; background-color:#FFFFFF;">

				<tr>
					<td>
						<table width="600" height="auto" border="0" cellspacing="0" cellpadding="0" align="left" valign="top" style="border:none; background-color:#FFFFFF;">

							{# spacing #}
							<tr height="30">
								<td></td>
							</tr>
							{# /spacing #}

							<tr>
								<td>
									<span style="font-family:Tahoma, Geneva, sans-serif; font-weight:100; line-height:1; font-size:9; color:#000000;">
										<sup>1</sup> MTIC - MONTANTE TOTAL IMPUTADO AO CONSUMIDOR
									</span>
								</td>
							</tr>
							{% if json.simulation.produto.cliente_tipo_id == 1 %}
							<tr>
								<td>
									<span style="font-family:Tahoma, Geneva, sans-serif; font-weight:100; line-height:1; font-size:9; color:#000000;">
										<sup>2</sup> TAEG – TAXA ANUAL EFETIVA GLOBAL
									</span>
								</td>
							</tr>
							{% else %}
							<tr>
								<td>
									<span style="font-family:Tahoma, Geneva, sans-serif; font-weight:100; line-height:1; font-size:9; color:#000000;">
										<sup>2</sup> TAE – TAXA ANUAL EFETIVA
									</span>
								</td>
							</tr>
							{% endif %}

							{# spacing #}
							<tr height="30">
								<td></td>
							</tr>
							{# /spacing #}

							<tr>
								<td>
									<span style="font-family:Tahoma, Geneva, sans-serif; font-weight:100; line-height:1; font-size:12px; color:#000000; line-height:1.2;">A informação apresentada nesta simulação é válida por um período de 30 dias e é meramente indicativa, estando sujeita a análise do dossier. Não substitui a Ficha de Informação Normalizada Europeia (FINE) que contará toda a informação pré-contratual. Informe-se no Montepio Crédito.</span>
								</td>
							</tr>

							{# spacing #}
							<tr height="10">
								<td></td>
							</tr>
							{# /spacing #}

							<tr>
								<td>
									<span style="font-family:Tahoma, Geneva, sans-serif; font-weight:100; line-height:1; font-size:12px; color:#000000;">Gratos pela vossa preferência.</span>
								</td>
							</tr>

							{# spacing #}
							<tr height="10">
								<td></td>
							</tr>
							{# /spacing #}

							<tr>
								<td>
									<span style="font-family:Tahoma, Geneva, sans-serif; font-weight:100; line-height:1; font-size:12px; color:#000000; line-height:1.2;">{{ json.user.nome|title }}{#<br/> Tlm. 960 000 001 #}<br/>E-mail: <a style="font-weight:100; color:#000000; text-decoration: none;" href="mailto:{{ json.user.email_utilizador }}">{{ json.user.email_utilizador }}</a></span>
								</td>
							</tr>

							{# spacing #}
							<tr height="20">
								<td></td>
							</tr>
							{# /spacing #}

							<tr>
								<td>
									<span style="font-family:Tahoma, Geneva, sans-serif; font-weight:100; line-height:1; font-size:7.9px; color:#000000; line-height:1.3;"><span style="font-weight:bold;">Montepio Crédito - Instituição Financeira de Crédito S.A.</span><br/>Capital Social EUR 30.000.000 C.R.C. do Porto e Pessoa Colectiva nº 502 774 312 - Rua Júlio Dinis nº 158/160 2º  4050-318 PORTO - Tel: 226 084 300 Fax: 226 099 725<br/>Linha de Apoio ao Cliente 707 50 20 21 - <a style="font-weight:100; color:#000000; text-decoration: none;" href="http://www.montepiocredito.pt">www.montepiocredito.pt</a></span>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
{% endblock %}