<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" id="ng-app" ng-app="backoffice">
<head>

	<!-- Meta Tags -->
    <meta charset="utf-8">
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<meta http-equiv="content-language" content="pt"/>
	<meta name="author" content="backoffice">
	<meta name="copyright" content="backoffice">
	<meta http-equiv="desription" content="backoffice"/>
	<meta http-equiv="keywobackoffice" content="backoffice"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- Custom Meta Tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

	<!-- Cache -->
	<meta http-equiv="cache-control" content="max-age=0" />
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="expires" content="0" />
	<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
	<meta http-equiv="pragma" content="no-cache" />

	<!-- Title -->
	<title>Backoffice - R&D Agency</title>

	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon.ico?v=0.0.5">
	<link rel="icon" sizes="16x16 32x32 64x64" href="favicon.ico?v=0.0.5">
	<link rel="icon" type="image/png" sizes="196x196" href="public/favicon/favicon-196.png?v=0.0.5">
	<link rel="icon" type="image/png" sizes="160x160" href="public/favicon/favicon-160.png?v=0.0.5">
	<link rel="icon" type="image/png" sizes="96x96" href="public/favicon/favicon-96.png?v=0.0.5">
	<link rel="icon" type="image/png" sizes="64x64" href="public/favicon/favicon-64.png?v=0.0.5">
	<link rel="icon" type="image/png" sizes="32x32" href="public/favicon/favicon-32.png?v=0.0.5">
	<link rel="icon" type="image/png" sizes="16x16" href="public/favicon/favicon-16.png?v=0.0.5">
	<link rel="apple-touch-icon" sizes="152x152" href="public/favicon/favicon-152.png?v=0.0.5">
	<link rel="apple-touch-icon" sizes="144x144" href="public/favicon/favicon-144.png?v=0.0.5">
	<link rel="apple-touch-icon" sizes="120x120" href="public/favicon/favicon-120.png?v=0.0.5">
	<link rel="apple-touch-icon" sizes="114x114" href="public/favicon/favicon-114.png?v=0.0.5">
	<link rel="apple-touch-icon" sizes="76x76" href="public/favicon/favicon-76.png?v=0.0.5">
	<link rel="apple-touch-icon" sizes="72x72" href="public/favicon/favicon-72.png?v=0.0.5">
	<link rel="apple-touch-icon" href="public/favicon/favicon-57.png?v=0.0.5">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="public/favicon/favicon-144.png?v=0.0.5">
	<meta name="msapplication-config" content="browserconfig.xml?v=0.0.5">

    <!-- Bootstrap -->
    <link href="public/css/bootstrap.min.css?v=0.0.5" rel="stylesheet" />

    <!-- Styles -->
    <link href="public/css/backoffice.css?v=0.0.5" rel="stylesheet" />

	<!--[if IE 9]>
		<script src="vendor/js/modernizr.custom.73251.js?v=0.0.5"></script>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!-- Safari -->
	<meta name="apple-mobile-web-app-capable" content="yes">

	<!-- Prevent Indexing -->
	<meta name="robots" content="noindex">

</head>

<body>

	<div flash></div>

    <header menu></header>

	<section ui-view id="{{ section.main }}" class="container"></section>

	<!-- Vendor Vanilla -->
	<script src="vendor/js/fastclick.js?v=0.0.5"></script>

	<!-- Vendor jQuery -->
	<script src="vendor/js/jquery-2.1.3.min.js?v=0.0.5"></script>

	<!-- Vendor Bootstrap -->
	<script src="vendor/js/bootstrap.min.js?v=0.0.5"></script>

	<!-- Libs -->
	<script src="libs/functions.js?v=0.0.5"></script>

	<!-- Angular -->
	<script src="vendor/ng/angular.min.js?v=0.0.5"></script>

	<!-- Vendor -->
	<script src="vendor/ng/angular-locale_pt-pt.js?v=0.0.5"></script>
	<script src="vendor/ng/ngStorage.min.js"></script>
	<script src="vendor/ng/angular-ui-router.js"></script>
	<script src="vendor/ng/ng-file-upload-shim.min.js"></script>
	<script src="vendor/ng/ng-file-upload.min.js"></script>
	<script src="vendor/ng/ui-bootstrap-tpls-0.13.0.min.js"></script>
	<script src="vendor/ng/angular-drag-and-drop-lists.min.js"></script>

	<!-- Main -->
	<script src="config/app.js?v=0.0.5"></script>
	<script src="config/config.js?v=0.0.5"></script>
	<script src="config/constants.js?v=0.0.5"></script>
	<script src="config/run.js?v=0.0.5"></script>

	<!-- Directives -->
	<script src="directives/tools.js?v=0.0.5"></script>
	<script src="directives/validators.js?v=0.0.5"></script>
	<script src="directives/flash.js?v=0.0.5"></script>
	<script src="directives/vendor/dirPagination.js?v=0.0.5"></script>

    <!-- Filters -->
    <script src="filters/filters.js?v=0.0.5"></script>

    <!-- Factories -->
    <script src="factories/interceptorF.js?v=0.0.5"></script>
	<script src="factories/flashF.js?v=0.0.5"></script>
    <script src="factories/adminF.js?v=0.0.5"></script>
    <script src="factories/usersF.js?v=0.0.5"></script>

    <!-- Layout -->
    <script src="modules/layout/menuD.js?v=0.0.5"></script>

	<!-- Admin -->
	<script src="modules/admin/signin/controller.js?v=0.0.5"></script>

	<!-- Users -->
	<script src="modules/users/controller.js?v=0.0.5"></script>
	<script src="modules/users/create/controller.js?v=0.0.5"></script>
	<script src="modules/users/edit/controller.js?v=0.0.5"></script>
	<script src="modules/users/detail/controller.js?v=0.0.5"></script>

</body>
</html>