<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="{{ constant('ASSETS') }}js/plugins.js?v={{ constant('VERSION') }}"></script>
<script src="{{ constant('ASSETS') }}js/msgs.js?v={{ constant('VERSION') }}"></script>
<script src="{{ constant('ASSETS') }}js/main.js?v={{ constant('VERSION') }}"></script>
<script>BASE_PATH='{{ constant("BASE") }}';</script>

<script src="{{ constant('ASSETS') }}js/vendor/ckeditor/ckeditor.js?v={{ constant('VERSION') }}"></script>

{% if flash.alert %}
    <script> alertBox('{{flash.alert.type}}', '{{flash.alert.msg|raw}}'); </script>
{% endif %}