<!doctype html>
<!--[if lt IE 7]>	<html class="no-js ie9 ie8 ie7 lt-ie7" lang="{{ constant('LANG') }}"> <![endif]-->
<!--[if IE 7]>		<html class="no-js ie9 ie8 ie7" lang="{{ constant('LANG') }}"> <![endif]-->
<!--[if IE 8]>		<html class="no-js ie9 ie8" lang="{{ constant('LANG') }}"> <![endif]-->
<!--[if IE 9]>		<html class="no-js ie9" lang="{{ constant('LANG') }}"> <![endif]-->
<!--[if !IE]><!--><html class="no-js" lang="{{ constant('LANG') }}"> <!--<![endif]-->
	<head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="author" content="www.csa.com">
        <meta name="copyright" content="csaadmin">
        <link rel="shortcut icon" type="image/x-icon" href="{{ constant('BASE') }}favicon.ico?v={{ constant('VERSION') }}">

        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ constant('ASSETS') }}css/main.css?v={{ constant('VERSION') }}" />

        <script src="{{ constant('ASSETS') }}js/vendor/modernizr-2.6.2.min.js"></script>

        <title>CSA{{title is defined ? ' - '~title : ''}}</title>

        {% block header_inc %}{% endblock %}
    </head>

    <body>

        {% if area is defined and area != 'login' %}
            {% include 'partials/menu.twig' %}
        {% endif %}

        <div id="alert_container"></div>

        <div class="container" style="padding-top: 70px;">

            {% block content %}{% endblock %}
        </div>

        {% block modalbox_inc %}{% endblock %}

        {% include 'base/js.twig' %}
        {% block js_inc %}{% endblock %}
    </body>
</html>