<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Default</title>

<link rel="stylesheet" type="text/css" href="http://meyerweb.com/eric/tools/css/reset/reset.css">
<link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/3.0.2/normalize.css">

<style type="text/css">
    *, *:before, *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        outline: none;
    }

    input[type=checkbox].border {
        font-size: 18px;
        border: 2px solid #1caff6;
    }

    input[type=checkbox] {
        font-size: 22px;
        position: relative;
        border: none;
        display: inline-block;
        line-height: 1em;
        margin: 0;
        padding: 0;
        width: 1em;
        height: 1em;
        vertical-align: top;
        margin: 0 5px 0 0;
        background: #fff;
        -webkit-appearance: none;
        -webkit-border-radius: 5px;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
    }

    input[type=checkbox]:checked::after {
        position: absolute;
        content: '';
        left: 23%;
        top: 31%;
        height: 35%;
        width: 55%;
        border-bottom: 3px solid #1caff6;
        border-left: 3px solid #1caff6;
        -webkit-transform: rotate(-45deg);
    }
</style>
</head>
<body ng-app="qrcode" ng-controller="qrCodeC">

    <form
        name="form"
        no-validate
        ng-init="content = 918872549; title = 918872549; size = 300;">
        <input type="text" ng-model="content"></input>
        <input type="text" ng-model="title"></input>

        <img ng-src="https://chart.googleapis.com/chart?chs={{ size }}x{{ size }}&cht=qr&chl={{ content }}&choe=UTF-8" title="{{ title }}">
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>

    <script type="text/javascript">
        /* config */
        var appname = 'qrcode';
        var dependencies = [];

        angular.module(appname, dependencies);

        var app = angular.module(appname);

        /* controller */
        var qrCodeC = function () {
            var vm = this;
        };

        app.controller('qrCodeC', qrCodeC);
    </script>

</body>
</html>