@charset "UTF-8";
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/** 1. Set default font family to sans-serif. 2. Prevent iOS text size adjust after orientation change, without disabling user zoom. */
html { font-family: sans-serif; /* 1 */ -ms-text-size-adjust: 100%; /* 2 */ -webkit-text-size-adjust: 100%; /* 2 */ }

/** Remove default margin. */
body { margin: 0; }

/* HTML5 display definitions ========================================================================== */
/** Correct `block` display not defined for any HTML5 element in IE 8/9. Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox. Correct `block` display not defined for `main` in IE 11. */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

/** 1. Correct `inline-block` display not defined in IE 8/9. 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera. */
audio, canvas, progress, video { display: inline-block; /* 1 */ vertical-align: baseline; /* 2 */ }

/** Prevent modern browsers from displaying `audio` without controls. Remove excess height in iOS 5 devices. */
audio:not([controls]) { display: none; height: 0; }

/** Address `[hidden]` styling not present in IE 8/9/10. Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22. */
[hidden], template { display: none; }

/* Links ========================================================================== */
/** Remove the gray background color from active links in IE 10. */
a { background: transparent; }

/** Improve readability when focused and also mouse hovered in all browsers. */
a:active, a:hover { outline: 0; }

/* Text-level semantics ========================================================================== */
/** Address styling not present in IE 8/9/10/11, Safari, and Chrome. */
abbr[title] { border-bottom: 1px dotted; }

/** Address style set to `bolder` in Firefox 4+, Safari, and Chrome. */
b, strong { font-weight: bold; }

/** Address styling not present in Safari and Chrome. */
dfn { font-style: italic; }

/** Address variable `h1` font-size and margin within `section` and `article` contexts in Firefox 4+, Safari, and Chrome. */
h1 { font-size: 2em; margin: 0.67em 0; }

/** Address styling not present in IE 8/9. */
mark { background: #ff0; color: #000; }

/** Address inconsistent and variable font size in all browsers. */
small { font-size: 80%; }

/** Prevent `sub` and `sup` affecting `line-height` in all browsers. */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

/* Embedded content ========================================================================== */
/** Remove border when inside `a` element in IE 8/9/10. */
img { border: 0; }

/** Correct overflow not hidden in IE 9/10/11. */
svg:not(:root) { overflow: hidden; }

/* Grouping content ========================================================================== */
/** Address margin not present in IE 8/9 and Safari. */
figure { margin: 1em 40px; }

/** Address differences between Firefox and other browsers. */
hr { box-sizing: content-box; height: 0; }

/** Contain overflow in all browsers. */
pre { overflow: auto; }

/** Address odd `em`-unit font size rendering in all browsers. */
code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

/* Forms ========================================================================== */
/** Known limitation: by default, Chrome and Safari on OS X allow very limited styling of `select`, unless a `border` property is set. */
/** 1. Correct color not being inherited. Known issue: affects color of disabled elements. 2. Correct font properties not being inherited. 3. Address margins set differently in Firefox 4+, Safari, and Chrome. */
button, input, optgroup, select, textarea { color: inherit; /* 1 */ font: inherit; /* 2 */ margin: 0; /* 3 */ }

/** Address `overflow` set to `hidden` in IE 8/9/10/11. */
button { overflow: visible; }

/** Address inconsistent `text-transform` inheritance for `button` and `select`. All other form control elements do not inherit `text-transform` values. Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera. Correct `select` style inheritance in Firefox. */
button, select { text-transform: none; }

/** 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls. 2. Correct inability to style clickable `input` types in iOS. 3. Improve usability and consistency of cursor style between image-type `input` and others. */
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; /* 2 */ cursor: pointer; /* 3 */ }

/** Re-set default cursor for disabled elements. */
button[disabled], html input[disabled] { cursor: default; }

/** Remove inner padding and border in Firefox 4+. */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/** Address Firefox 4+ setting `line-height` on `input` using `!important` in the UA stylesheet. */
input { line-height: normal; }

/** It's recommended that you don't attempt to style these elements. Firefox's implementation doesn't respect box-sizing, padding, or width.  1. Address box sizing set to `content-box` in IE 8/9/10. 2. Remove excess padding in IE 8/9/10. */
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ }

/** Fix the cursor style for Chrome's increment/decrement buttons. For certain `font-size` values of the `input`, it causes the cursor style of the decrement button to change from `default` to `text`. */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

/** 1. Address `appearance` set to `searchfield` in Safari and Chrome. 2. Address `box-sizing` set to `border-box` in Safari and Chrome (include `-moz` to future-proof). */
input[type="search"] { -webkit-appearance: textfield; /* 1 */ /* 2 */ box-sizing: content-box; }

/** Remove inner padding and search cancel button in Safari and Chrome on OS X. Safari (but not Chrome) clips the cancel button when the search input has padding (and `textfield` appearance). */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/** Define consistent border, margin, and padding. */
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

/** 1. Correct `color` not being inherited in IE 8/9/10/11. 2. Remove padding so people aren't caught out if they zero out fieldsets. */
legend { border: 0; /* 1 */ padding: 0; /* 2 */ }

/** Remove default vertical scrollbar in IE 8/9/10/11. */
textarea { overflow: auto; }

/** Don't inherit the `font-weight` (applied by a rule above). NOTE: the default cannot safely be changed in Chrome and Safari on OS X. */
optgroup { font-weight: bold; }

/* Tables ========================================================================== */
/** Remove most spacing between table cells. */
table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

/* Debug */
pre.debug { background: #fefefe; color: #000; display: block; width: 98%; margin: 5px auto; padding: 1%; border-top: 2px red solid; border-bottom: 2px red solid; }

/* Clear Fix */
.clearfix { *zoom: 1; z-index: -1; }
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

/* Reticências */
.truncated { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

/* Relative */
* { position: relative; }

/* Phone numbers */
a[href^="tel"], a[href^="sms"] { color: initial; text-decoration: none; }

/* Mobile Mark */
body, html { -webkit-tap-highlight-color: transparent; }

/* Form Appearance */
input, textarea { -webkit-appearance: none; }

.va-parent { display: table; }

.va-parent-inline { display: inline-table; }

.va-child { display: table-cell; vertical-align: middle; }

img { width: 100%; }

html, body { height: 100%; }

a { text-decoration: none; }

b, strong { font-weight: bold; }

/* ============================================ */
/* This file has a mobile-to-desktop breakpoint */
/* ============================================ */
@media screen and (max-width: 400px) { @-ms-viewport { width: 320px; } }
.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }

.grid-container:before, .grid-5:before, .mobile-grid-5:before, .grid-10:before, .mobile-grid-10:before, .grid-15:before, .mobile-grid-15:before, .grid-20:before, .mobile-grid-20:before, .grid-25:before, .mobile-grid-25:before, .grid-30:before, .mobile-grid-30:before, .grid-35:before, .mobile-grid-35:before, .grid-40:before, .mobile-grid-40:before, .grid-45:before, .mobile-grid-45:before, .grid-50:before, .mobile-grid-50:before, .grid-55:before, .mobile-grid-55:before, .grid-60:before, .mobile-grid-60:before, .grid-65:before, .mobile-grid-65:before, .grid-70:before, .mobile-grid-70:before, .grid-75:before, .mobile-grid-75:before, .grid-80:before, .mobile-grid-80:before, .grid-85:before, .mobile-grid-85:before, .grid-90:before, .mobile-grid-90:before, .grid-95:before, .mobile-grid-95:before, .grid-100:before, .mobile-grid-100:before, .grid-33:before, .mobile-grid-33:before, .grid-66:before, .mobile-grid-66:before, .clearfix:before, .grid-container:after, .grid-5:after, .mobile-grid-5:after, .grid-10:after, .mobile-grid-10:after, .grid-15:after, .mobile-grid-15:after, .grid-20:after, .mobile-grid-20:after, .grid-25:after, .mobile-grid-25:after, .grid-30:after, .mobile-grid-30:after, .grid-35:after, .mobile-grid-35:after, .grid-40:after, .mobile-grid-40:after, .grid-45:after, .mobile-grid-45:after, .grid-50:after, .mobile-grid-50:after, .grid-55:after, .mobile-grid-55:after, .grid-60:after, .mobile-grid-60:after, .grid-65:after, .mobile-grid-65:after, .grid-70:after, .mobile-grid-70:after, .grid-75:after, .mobile-grid-75:after, .grid-80:after, .mobile-grid-80:after, .grid-85:after, .mobile-grid-85:after, .grid-90:after, .mobile-grid-90:after, .grid-95:after, .mobile-grid-95:after, .grid-100:after, .mobile-grid-100:after, .grid-33:after, .mobile-grid-33:after, .grid-66:after, .mobile-grid-66:after, .clearfix:after { content: "."; display: block; overflow: hidden; visibility: hidden; font-size: 0; line-height: 0; width: 0; height: 0; }

.grid-container:after, .grid-5:after, .mobile-grid-5:after, .grid-10:after, .mobile-grid-10:after, .grid-15:after, .mobile-grid-15:after, .grid-20:after, .mobile-grid-20:after, .grid-25:after, .mobile-grid-25:after, .grid-30:after, .mobile-grid-30:after, .grid-35:after, .mobile-grid-35:after, .grid-40:after, .mobile-grid-40:after, .grid-45:after, .mobile-grid-45:after, .grid-50:after, .mobile-grid-50:after, .grid-55:after, .mobile-grid-55:after, .grid-60:after, .mobile-grid-60:after, .grid-65:after, .mobile-grid-65:after, .grid-70:after, .mobile-grid-70:after, .grid-75:after, .mobile-grid-75:after, .grid-80:after, .mobile-grid-80:after, .grid-85:after, .mobile-grid-85:after, .grid-90:after, .mobile-grid-90:after, .grid-95:after, .mobile-grid-95:after, .grid-100:after, .mobile-grid-100:after, .grid-33:after, .mobile-grid-33:after, .grid-66:after, .mobile-grid-66:after, .clearfix:after { clear: both; }

.grid-container { margin-left: auto; margin-right: auto; max-width: 1200px; }

.grid-5, .mobile-grid-5, .grid-10, .mobile-grid-10, .grid-15, .mobile-grid-15, .grid-20, .mobile-grid-20, .grid-25, .mobile-grid-25, .grid-30, .mobile-grid-30, .grid-35, .mobile-grid-35, .grid-40, .mobile-grid-40, .grid-45, .mobile-grid-45, .grid-50, .mobile-grid-50, .grid-55, .mobile-grid-55, .grid-60, .mobile-grid-60, .grid-65, .mobile-grid-65, .grid-70, .mobile-grid-70, .grid-75, .mobile-grid-75, .grid-80, .mobile-grid-80, .grid-85, .mobile-grid-85, .grid-90, .mobile-grid-90, .grid-95, .mobile-grid-95, .grid-100, .mobile-grid-100, .grid-33, .mobile-grid-33, .grid-66, .mobile-grid-66 { box-sizing: border-box; }

.grid-parent { padding-left: 0; padding-right: 0; }

@media screen and (max-width: 767px) { .mobile-push-5, .mobile-pull-5, .mobile-push-10, .mobile-pull-10, .mobile-push-15, .mobile-pull-15, .mobile-push-20, .mobile-pull-20, .mobile-push-25, .mobile-pull-25, .mobile-push-30, .mobile-pull-30, .mobile-push-35, .mobile-pull-35, .mobile-push-40, .mobile-pull-40, .mobile-push-45, .mobile-pull-45, .mobile-push-50, .mobile-pull-50, .mobile-push-55, .mobile-pull-55, .mobile-push-60, .mobile-pull-60, .mobile-push-65, .mobile-pull-65, .mobile-push-70, .mobile-pull-70, .mobile-push-75, .mobile-pull-75, .mobile-push-80, .mobile-pull-80, .mobile-push-85, .mobile-pull-85, .mobile-push-90, .mobile-pull-90, .mobile-push-95, .mobile-pull-95, .mobile-push-33, .mobile-pull-33, .mobile-push-66, .mobile-pull-66 { position: relative; }
  .hide-on-mobile { display: none !important; }
  .mobile-grid-5 { float: left; width: 5%; }
  .mobile-prefix-5 { margin-left: 5%; }
  .mobile-suffix-5 { margin-right: 5%; }
  .mobile-push-5 { left: 5%; }
  .mobile-pull-5 { left: -5%; }
  .mobile-grid-10 { float: left; width: 10%; }
  .mobile-prefix-10 { margin-left: 10%; }
  .mobile-suffix-10 { margin-right: 10%; }
  .mobile-push-10 { left: 10%; }
  .mobile-pull-10 { left: -10%; }
  .mobile-grid-15 { float: left; width: 15%; }
  .mobile-prefix-15 { margin-left: 15%; }
  .mobile-suffix-15 { margin-right: 15%; }
  .mobile-push-15 { left: 15%; }
  .mobile-pull-15 { left: -15%; }
  .mobile-grid-20 { float: left; width: 20%; }
  .mobile-prefix-20 { margin-left: 20%; }
  .mobile-suffix-20 { margin-right: 20%; }
  .mobile-push-20 { left: 20%; }
  .mobile-pull-20 { left: -20%; }
  .mobile-grid-25 { float: left; width: 25%; }
  .mobile-prefix-25 { margin-left: 25%; }
  .mobile-suffix-25 { margin-right: 25%; }
  .mobile-push-25 { left: 25%; }
  .mobile-pull-25 { left: -25%; }
  .mobile-grid-30 { float: left; width: 30%; }
  .mobile-prefix-30 { margin-left: 30%; }
  .mobile-suffix-30 { margin-right: 30%; }
  .mobile-push-30 { left: 30%; }
  .mobile-pull-30 { left: -30%; }
  .mobile-grid-35 { float: left; width: 35%; }
  .mobile-prefix-35 { margin-left: 35%; }
  .mobile-suffix-35 { margin-right: 35%; }
  .mobile-push-35 { left: 35%; }
  .mobile-pull-35 { left: -35%; }
  .mobile-grid-40 { float: left; width: 40%; }
  .mobile-prefix-40 { margin-left: 40%; }
  .mobile-suffix-40 { margin-right: 40%; }
  .mobile-push-40 { left: 40%; }
  .mobile-pull-40 { left: -40%; }
  .mobile-grid-45 { float: left; width: 45%; }
  .mobile-prefix-45 { margin-left: 45%; }
  .mobile-suffix-45 { margin-right: 45%; }
  .mobile-push-45 { left: 45%; }
  .mobile-pull-45 { left: -45%; }
  .mobile-grid-50 { float: left; width: 50%; }
  .mobile-prefix-50 { margin-left: 50%; }
  .mobile-suffix-50 { margin-right: 50%; }
  .mobile-push-50 { left: 50%; }
  .mobile-pull-50 { left: -50%; }
  .mobile-grid-55 { float: left; width: 55%; }
  .mobile-prefix-55 { margin-left: 55%; }
  .mobile-suffix-55 { margin-right: 55%; }
  .mobile-push-55 { left: 55%; }
  .mobile-pull-55 { left: -55%; }
  .mobile-grid-60 { float: left; width: 60%; }
  .mobile-prefix-60 { margin-left: 60%; }
  .mobile-suffix-60 { margin-right: 60%; }
  .mobile-push-60 { left: 60%; }
  .mobile-pull-60 { left: -60%; }
  .mobile-grid-65 { float: left; width: 65%; }
  .mobile-prefix-65 { margin-left: 65%; }
  .mobile-suffix-65 { margin-right: 65%; }
  .mobile-push-65 { left: 65%; }
  .mobile-pull-65 { left: -65%; }
  .mobile-grid-70 { float: left; width: 70%; }
  .mobile-prefix-70 { margin-left: 70%; }
  .mobile-suffix-70 { margin-right: 70%; }
  .mobile-push-70 { left: 70%; }
  .mobile-pull-70 { left: -70%; }
  .mobile-grid-75 { float: left; width: 75%; }
  .mobile-prefix-75 { margin-left: 75%; }
  .mobile-suffix-75 { margin-right: 75%; }
  .mobile-push-75 { left: 75%; }
  .mobile-pull-75 { left: -75%; }
  .mobile-grid-80 { float: left; width: 80%; }
  .mobile-prefix-80 { margin-left: 80%; }
  .mobile-suffix-80 { margin-right: 80%; }
  .mobile-push-80 { left: 80%; }
  .mobile-pull-80 { left: -80%; }
  .mobile-grid-85 { float: left; width: 85%; }
  .mobile-prefix-85 { margin-left: 85%; }
  .mobile-suffix-85 { margin-right: 85%; }
  .mobile-push-85 { left: 85%; }
  .mobile-pull-85 { left: -85%; }
  .mobile-grid-90 { float: left; width: 90%; }
  .mobile-prefix-90 { margin-left: 90%; }
  .mobile-suffix-90 { margin-right: 90%; }
  .mobile-push-90 { left: 90%; }
  .mobile-pull-90 { left: -90%; }
  .mobile-grid-95 { float: left; width: 95%; }
  .mobile-prefix-95 { margin-left: 95%; }
  .mobile-suffix-95 { margin-right: 95%; }
  .mobile-push-95 { left: 95%; }
  .mobile-pull-95 { left: -95%; }
  .mobile-grid-33 { float: left; width: 33.33333%; }
  .mobile-prefix-33 { margin-left: 33.33333%; }
  .mobile-suffix-33 { margin-right: 33.33333%; }
  .mobile-push-33 { left: 33.33333%; }
  .mobile-pull-33 { left: -33.33333%; }
  .mobile-grid-66 { float: left; width: 66.66667%; }
  .mobile-prefix-66 { margin-left: 66.66667%; }
  .mobile-suffix-66 { margin-right: 66.66667%; }
  .mobile-push-66 { left: 66.66667%; }
  .mobile-pull-66 { left: -66.66667%; }
  .mobile-grid-100 { clear: both; width: 100%; } }
@media screen and (min-width: 768px) { .push-5, .pull-5, .push-10, .pull-10, .push-15, .pull-15, .push-20, .pull-20, .push-25, .pull-25, .push-30, .pull-30, .push-35, .pull-35, .push-40, .pull-40, .push-45, .pull-45, .push-50, .pull-50, .push-55, .pull-55, .push-60, .pull-60, .push-65, .pull-65, .push-70, .pull-70, .push-75, .pull-75, .push-80, .pull-80, .push-85, .pull-85, .push-90, .pull-90, .push-95, .pull-95, .push-33, .pull-33, .push-66, .pull-66 { position: relative; }
  .hide-on-desktop { display: none !important; }
  .grid-5 { float: left; width: 5%; }
  .prefix-5 { margin-left: 5%; }
  .suffix-5 { margin-right: 5%; }
  .push-5 { left: 5%; }
  .pull-5 { left: -5%; }
  .grid-10 { float: left; width: 10%; }
  .prefix-10 { margin-left: 10%; }
  .suffix-10 { margin-right: 10%; }
  .push-10 { left: 10%; }
  .pull-10 { left: -10%; }
  .grid-15 { float: left; width: 15%; }
  .prefix-15 { margin-left: 15%; }
  .suffix-15 { margin-right: 15%; }
  .push-15 { left: 15%; }
  .pull-15 { left: -15%; }
  .grid-20 { float: left; width: 20%; }
  .prefix-20 { margin-left: 20%; }
  .suffix-20 { margin-right: 20%; }
  .push-20 { left: 20%; }
  .pull-20 { left: -20%; }
  .grid-25 { float: left; width: 25%; }
  .prefix-25 { margin-left: 25%; }
  .suffix-25 { margin-right: 25%; }
  .push-25 { left: 25%; }
  .pull-25 { left: -25%; }
  .grid-30 { float: left; width: 30%; }
  .prefix-30 { margin-left: 30%; }
  .suffix-30 { margin-right: 30%; }
  .push-30 { left: 30%; }
  .pull-30 { left: -30%; }
  .grid-35 { float: left; width: 35%; }
  .prefix-35 { margin-left: 35%; }
  .suffix-35 { margin-right: 35%; }
  .push-35 { left: 35%; }
  .pull-35 { left: -35%; }
  .grid-40 { float: left; width: 40%; }
  .prefix-40 { margin-left: 40%; }
  .suffix-40 { margin-right: 40%; }
  .push-40 { left: 40%; }
  .pull-40 { left: -40%; }
  .grid-45 { float: left; width: 45%; }
  .prefix-45 { margin-left: 45%; }
  .suffix-45 { margin-right: 45%; }
  .push-45 { left: 45%; }
  .pull-45 { left: -45%; }
  .grid-50 { float: left; width: 50%; }
  .prefix-50 { margin-left: 50%; }
  .suffix-50 { margin-right: 50%; }
  .push-50 { left: 50%; }
  .pull-50 { left: -50%; }
  .grid-55 { float: left; width: 55%; }
  .prefix-55 { margin-left: 55%; }
  .suffix-55 { margin-right: 55%; }
  .push-55 { left: 55%; }
  .pull-55 { left: -55%; }
  .grid-60 { float: left; width: 60%; }
  .prefix-60 { margin-left: 60%; }
  .suffix-60 { margin-right: 60%; }
  .push-60 { left: 60%; }
  .pull-60 { left: -60%; }
  .grid-65 { float: left; width: 65%; }
  .prefix-65 { margin-left: 65%; }
  .suffix-65 { margin-right: 65%; }
  .push-65 { left: 65%; }
  .pull-65 { left: -65%; }
  .grid-70 { float: left; width: 70%; }
  .prefix-70 { margin-left: 70%; }
  .suffix-70 { margin-right: 70%; }
  .push-70 { left: 70%; }
  .pull-70 { left: -70%; }
  .grid-75 { float: left; width: 75%; }
  .prefix-75 { margin-left: 75%; }
  .suffix-75 { margin-right: 75%; }
  .push-75 { left: 75%; }
  .pull-75 { left: -75%; }
  .grid-80 { float: left; width: 80%; }
  .prefix-80 { margin-left: 80%; }
  .suffix-80 { margin-right: 80%; }
  .push-80 { left: 80%; }
  .pull-80 { left: -80%; }
  .grid-85 { float: left; width: 85%; }
  .prefix-85 { margin-left: 85%; }
  .suffix-85 { margin-right: 85%; }
  .push-85 { left: 85%; }
  .pull-85 { left: -85%; }
  .grid-90 { float: left; width: 90%; }
  .prefix-90 { margin-left: 90%; }
  .suffix-90 { margin-right: 90%; }
  .push-90 { left: 90%; }
  .pull-90 { left: -90%; }
  .grid-95 { float: left; width: 95%; }
  .prefix-95 { margin-left: 95%; }
  .suffix-95 { margin-right: 95%; }
  .push-95 { left: 95%; }
  .pull-95 { left: -95%; }
  .grid-33 { float: left; width: 33.33333%; }
  .prefix-33 { margin-left: 33.33333%; }
  .suffix-33 { margin-right: 33.33333%; }
  .push-33 { left: 33.33333%; }
  .pull-33 { left: -33.33333%; }
  .grid-66 { float: left; width: 66.66667%; }
  .prefix-66 { margin-left: 66.66667%; }
  .suffix-66 { margin-right: 66.66667%; }
  .push-66 { left: 66.66667%; }
  .pull-66 { left: -66.66667%; }
  .grid-100 { clear: both; width: 100%; } }
@font-face { font-family: 'icomoon'; src: url("../sass/fonts/icomoon/icomoon.eot?-jsrbez"); src: url("../sass/fonts/icomoon/icomoon.eot?#iefix-jsrbez") format("embedded-opentype"), url("../sass/fonts/icomoon/icomoon.woff?-jsrbez") format("woff"), url("../sass/fonts/icomoon/icomoon.ttf?-jsrbez") format("truetype"), url("../sass/fonts/icomoon/icomoon.svg?-jsrbez#icomoon") format("svg"); font-weight: normal; font-style: normal; }
[class^="icon-"], [class*=" icon-"] { font-family: 'icomoon'; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; /* Better Font Rendering =========== */ -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon-previousNarrow:before { content: "\e608"; }

.icon-nextNarrow:before { content: "\e607"; }

.icon-facebook:before { content: "\e603"; }

.icon-square:before { content: "\e602"; }

.icon-next:before { content: "\e606"; }

.icon-previous:before { content: "\e604"; }

.icon-linkedin:before { content: "\e605"; }

.icon-nextLight:before { content: "\e601"; }

.icon-previousLight:before { content: "\e600"; }

html { font-size: 62.5% !important; }

body { background: #fff; font-size: 1em; font-family: Arial, Helvetica, sans-serif; }

section { height: 70%; background: #fff; z-index: 0; float: left; }

a { -webkit-transition: all 0.5s; transition: all 0.5s; }

#preloader { display: table; height: 100%; position: fixed; width: 100%; height: 100%; top: 0px; left: 0px; background: #fff; z-index: 9; }
#preloader p { display: table-cell; vertical-align: middle; float: none; text-align: center; font-size: 2em; text-transform: uppercase; }

header { height: 17%; padding-left: 30px; padding-right: 30px; background: #fff; z-index: 1; font-size: 1em; }
header .logo { display: inline-table; height: 100%; }
header .logo p { display: table-cell; vertical-align: middle; float: none; }
header .logo img { max-width: 160px; }
header .nav-container { display: inline-table; height: 100%; }
header .nav-container nav { display: table-cell; vertical-align: middle; float: none; }
header .nav-container nav > div { width: auto; float: right; padding-top: 6%; }
header .nav-container nav ul.menu-st { width: auto; display: table; text-align: center; padding: 0px 20px 0px 20px; text-transform: uppercase; float: left; }
header .nav-container nav ul.menu-st:hover .menu-nd { display: block; }
header .nav-container nav ul.menu-st:hover > li { color: #ba1f1e; }
header .nav-container nav ul.menu-st:hover > li > a { color: #ba1f1e; }
header .nav-container nav ul.menu-st:last-child { padding-left: 70px; }
header .nav-container nav ul.menu-st > li { font-size: 1.2em; }
header .nav-container nav ul.menu-st > li:first-child { padding: 0px 10px 2px 10px; cursor: pointer; }
header .nav-container nav ul.menu-st > li:last-child { width: 160px; position: absolute; left: 50%; padding-top: 10px; margin-left: -80px; }
header .nav-container nav ul.menu-st > li a { color: #000; -webkit-transition: all 0.2s; transition: all 0.2s; }
header .nav-container nav ul.menu-nd { text-transform: capitalize; display: none; margin: 0 auto; }
header .nav-container nav ul.menu-nd .background { padding: 0px; position: absolute; border: none; width: 100%; height: 100%; margin: 0px; background: #ba1f1e; opacity: 0.7; z-index: 0; box-shadow: 1px 1px 20px 0px #6a0a0e; }
header .nav-container nav ul.menu-nd li { margin: 0px 10px 0px 10px; z-index: 1; font-size: 0.9em; }
header .nav-container nav ul.menu-nd li:hover a { opacity: 0.5; }
header .nav-container nav ul.menu-nd li:hover span { width: 100%; }
header .nav-container nav ul.menu-nd li a { color: #fff; position: relative; display: block; padding: 10px 15px 10px 15px; }
header .nav-container nav ul.menu-nd li span { width: 80%; height: 1px; margin: 0 auto; background: #fff; display: table; -webkit-transition: all 0.2s; transition: all 0.2s; }
header .nav-container nav ul.menu-nd li:last-child a { border: none; }
header .locale { display: inline-table; height: 100%; }
header .locale ul { display: table-cell; vertical-align: middle; float: none; }
header .locale ul li { text-align: center; text-transform: uppercase; float: right; font-size: 1.5em; font-weight: bold; padding: 0px 2px 0px 2px; }
header .locale ul li a { color: #000; }
header .locale ul li a.active { color: #818689; }
header .locale ul li a:hover { color: #ba1f1e; }

footer { display: table; height: 100%; height: 13%; padding-left: 30px; padding-right: 30px; }
footer > div { display: table-cell; vertical-align: middle; float: none; }
footer .container { padding-top: 20px; border-top: 1px solid #000; display: table; }
footer .disclaimer, footer .social { display: table-cell; vertical-align: middle; float: none; }
footer .disclaimer p, footer .social p { display: table-cell; vertical-align: middle; float: none; }
footer .disclaimer p { text-align: left; }
footer .social p { text-align: right; }
footer .social > div { float: right; }
footer .social .facebook, footer .social .linkedin { font-size: 2em; background: #000; color: #fff; padding: 1px 0px 1px 0px; margin-left: 8px; }
footer .social .facebook:hover, footer .social .linkedin:hover { background: #ba1f1e; }

#slides { position: relative; }
#slides .slides-container { display: none; }
#slides .scrollable { *zoom: 1; position: relative; top: 0; left: 0; overflow-y: auto; -webkit-overflow-scrolling: touch; height: 100%; }
#slides .scrollable:after { content: ""; display: table; clear: both; }

.slides-navigation { margin: 0 auto; position: absolute; z-index: 3; top: 46%; width: 100%; }
.slides-navigation a { position: absolute; display: block; }
.slides-navigation a.prev { left: 0; }
.slides-navigation a.next { right: 0; }

.slides-pagination { position: absolute; z-index: 3; bottom: 0; text-align: center; width: 100%; }
.slides-pagination a { border: 2px solid #222; width: 10px; height: 10px; display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; margin: 2px; overflow: hidden; text-indent: -100%; }
.slides-pagination a.current { background: #222; }

.slides-navigation { font-size: 6em; top: 0px; height: 100%; width: 100%; }
.slides-navigation a { position: absolute; display: table; height: 100%; height: 100%; width: 10%; text-align: center; }
.slides-navigation a:nth-child(1) { float: right; }
.slides-navigation a:nth-child(2) { float: left; }
.slides-navigation a span { color: #fff; display: table-cell; vertical-align: middle; float: none; text-shadow: 0px 0px 3px #000; }
.slides-navigation a:visited span { color: #fff; }
.slides-navigation a:active span { color: #ba1f1e; }
.slides-navigation a:hover span { color: #ba1f1e; }

.slides-pagination { text-align: right; right: 5%; bottom: 5%; }
.slides-pagination a { -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); border: none; margin: 0px 10px 0px 10px; width: 10px; height: 10px; background: #818689; text-shadow: 0px 0px 3px #000; }
.slides-pagination a.current { background: #ba1f1e; }

#categories .container { height: 100%; overflow: auto; }
#categories a { display: block; top: 10%; height: 90%; }
#categories a:nth-child(2n+0) { z-index: 1; }
#categories figure { height: 100%; }
#categories figure:hover img { -webkit-transform: translateX(-20%); -ms-transform: translateX(-20%); transform: translateX(-20%); }
#categories figure:hover figcaption { color: #ba1f1e; }
#categories figure > div { height: 100%; overflow: hidden; }
#categories figure img { height: 90%; width: auto; position: absolute; -webkit-transition: all 0.5s; transition: all 0.5s; }
#categories figure figcaption { padding: 10px; background: #000; color: #fff; width: auto; display: table; text-transform: uppercase; position: absolute; z-index: 1; text-align: center; box-shadow: 1px 1px 20px 0px #000; top: 90%; }

#category .container, #about .container { height: 85%; top: 10%; overflow: auto; }
#category figure, #about figure { overflow: hidden; height: 100%; float: left; padding-left: 30px; }
#category figure img, #about figure img { min-width: 100%; min-height: 100%; width: 100%; float: left; }
#category figcaption, #about figcaption { padding: 10px; background: #000; color: #fff; width: auto; display: table; text-transform: uppercase; position: absolute; z-index: 1; text-align: center; box-shadow: 1px 1px 20px 0px #000; top: 0px; width: auto; min-width: 30%; padding: 20px; }
#category p, #about p { float: left; padding-left: 30px; padding-top: 20px; }
#category nav, #category #content, #about nav, #about #content { padding-left: 4em; }
#category nav ul li, #category #content ul li, #about nav ul li, #about #content ul li { cursor: pointer; font-size: 1.2em; width: 40%; margin: 0px 0em 0px 0em; }
#category nav ul li a, #category #content ul li a, #about nav ul li a, #about #content ul li a { float: left; width: 100%; color: #000; padding: 1em 0em 0.7em 1em; border-bottom: 1px solid #818689; }
#category nav ul li:first-child, #category #content ul li:first-child, #about nav ul li:first-child, #about #content ul li:first-child { padding-top: 0px; }
#category nav ul li:hover a, #category #content ul li:hover a, #about nav ul li:hover a, #about #content ul li:hover a { color: #ba1f1e; }
#category p, #about p { float: left; text-align: left; width: 100%; font-size: 1.4em; padding: 1em 0 1em 0; line-height: 1.4em; }
#category p a, #about p a { color: #000; border-bottom: 1px solid #000; }
#category ul li, #about ul li { list-style-position: inside; font-size: 1.4em; }
#category ul li:after, #category ul li:before, #about ul li:after, #about ul li:before { content: initial; overflow: visible; }

#projects .container { height: 85%; top: 10%; float: left; overflow: auto; }
#projects article { height: auto; border: 1px solid #fff; overflow: hidden; }
#projects article:hover h1 { color: #000; background: #fff; }
#projects article:hover .background { -webkit-transform: scale(1.05); -ms-transform: scale(1.05); transform: scale(1.05); }
#projects article h1 { padding: 10px; background: #000; color: #fff; width: auto; display: table; text-transform: uppercase; position: absolute; z-index: 1; text-align: center; box-shadow: 1px 1px 20px 0px #000; background: rgba(0, 0, 0, 0.6); box-shadow: none; text-align: left; margin: 10px; line-height: 1.5; }
#projects article .background { height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; z-index: 0; -webkit-transition: -webkit-transform 0.2s; transition: transform 0.2s; }

#project .container { height: 85%; top: 10%; float: left; overflow: auto; }
#project .gallery { height: 100%; overflow: hidden; }
#project .description { padding-left: 50px; font-size: 1.2em; padding-right: 50px; }
#project .description h1 { padding: 0px 0px 0.5em 0px; border-bottom: 1px solid #818689; color: #ba1f1e; }
#project .description h2 { padding-top: 1em; line-height: 1.5em; }
#project .slides-navigation { right: 20px; bottom: 20px; height: auto; top: initial; }
#project .slides-navigation a { float: right; left: initial; right: initial; position: relative; width: auto; }
#project .slides-navigation a span { font-size: 0.6em; }

.container.generic { padding-top: 20px; max-width: 90%; margin: 0 auto; overflow: auto; height: 100%; }
.container.generic .center { display: table-cell; vertical-align: middle; float: none; }
.container.generic .content { padding: 1em; }
.container.generic p { float: left; text-align: left; width: 100%; font-size: 1.4em; padding: 1em 0 1em 0; line-height: 1.4em; }
.container.generic p a { color: #000; border-bottom: 1px solid #000; }
.container.generic ul li { list-style: disc; list-style-position: inside; font-size: 1.4em; }
.container.generic ul li:after, .container.generic ul li:before { content: initial; overflow: visible; }

#about p { padding-bottom: 0px; }
#about .content { padding-left: 30px; }
#about .content li { float: left; text-align: left; width: 100%; line-height: 1.4em; list-style-type: disc; }
#about .content ul { padding-top: 1em; float: left; }

@media screen and (max-height: 480px) { header .nav-container nav > div { padding-top: 5px; }
  header .logo img { max-width: 120px; }
  footer .container { padding-top: 0px; border-top: none; } }
@media screen and (max-width: 768px) { header .nav-container nav ul.menu-st { padding-left: 0px; padding-right: 10px; }
  header .nav-container nav ul.menu-st:last-child { padding-left: 35px; }
  header .nav-container { display: inline-table; height: 100%; }
  header { padding: 0px; }
  #projects a { height: 20%; }
  #projects figure img { width: 130%; height: auto; top: -200%; }
  #projects figure figcaption { bottom: 0px; top: initial; }
  #categories a { top: initial; width: 100% !important; height: 20%; }
  #categories figure:hover img { -webkit-transform: translateY(-20%); -ms-transform: translateY(-20%); transform: translateY(-20%); }
  #categories figure img { width: 100%; height: auto; }
  #categories figure figcaption { top: 0px; }
  #categories .container { top: initial; }
  #category .container { top: initial; }
  #category nav ul li { width: auto; }
  #category nav { padding: 0px 30px 0px 30px; height: 60%; }
  #category nav ul li a { width: 95%; }
  #category figure, #atelier figure { height: 40%; padding-left: 30px; padding-right: 30px; }
  #category figure img { width: 100%; height: auto; }
  #project .container { top: initial; }
  #project .gallery { height: 70%; }
  #project .description { height: 25%; padding-top: 5%; }
  #home .slides-navigation { font-size: 4em; width: 90%; margin: 0 auto; display: table; float: none; position: relative; top: -100%; }
  #category figure, #about figure, #project .gallery { padding: 0px; height: 60%; }
  #about .content { padding-left: 10px; }
  header { height: 10%; }
  section { height: 80%; }
  #category .container, #about .container, #project .container { top: 0%; height: 100%; }
  footer { height: 10%; } }
@media screen and (max-width: 400px) { body { font-size: 0.7em; }
  header .nav-container nav ul.menu-st > li:last-child { display: none; }
  header .nav-container nav ul.menu-st:hover .menu-nd { display: none; }
  header .nav-container nav ul.menu-st:last-child { padding-left: 0px; }
  footer { padding-left: 10px; padding-right: 10px; } }
#f0f, #error { display: table; height: 100%; height: 70%; }
#f0f h1, #error h1 { display: table-cell; vertical-align: middle; float: none; text-align: center; width: 100%; font-size: 3.0em; }

/*# sourceMappingURL=csa.css.map */