{% block section %}

	<footer class="grid-100">

		<div class="grid-100">

			<div class="grid-100 container">
				<div class="grid-80 disclaimer mobile-grid-80">
					<div>
						<p>{{locale[7].title}}</p>
					</div>
				</div>

				<div class="grid-20 social mobile-grid-20">
					<div>
						{# <a href="https://www.facebook.com/" target="_blank" title="facebook"><span class="icon-facebook facebook"></span></a> #}
						<a href="http://www.linkedin.com" target="_blank" title="linkedin"><span class="icon-linkedin linkedin"></span></a>
					</div>
				</div>
			</div>

		</div>

	</footer>

{% endblock %}