{% block section %}

<header class="grid-100">

	<div class="grid-15 hide-on-mobile logo">
		<p class="grid-100">
			<a href="{{ urlFor('home') }}" target="_parent"><img src="{{ constant('ASSETS') }}img/logo.jpg" alt="CSA" title="CSA"></a>
		</p>
	</div>

	<div class="grid-75 nav-container mobile-grid-100">

		<nav class="grid-100 mobile-grid-100">
			<div>
				<ul class="menu-st">
					<li> <a href="{{ urlFor('about') }}" target="_parent">{{locale[0].title}}</a> </li>
					<li>
						<ul class="menu-nd">
							<li class="background"></li>
							<li>
								<a href="{{ urlFor('about') }}">{{locale[1].title}}</a>
								{# <span></span> #}
							</li>
							<li>
								<a href="{{ urlFor('services') }}">{{locale[2].title}}</a>
							</li>
							{# <li> <a href="{{ urlFor('location') }}">{{locale[3].title}}</a> </li> #}
						</ul>
					</li>
				</ul>

				<ul class="menu-st">
					<li> <a href="{{ urlFor('categories') }}">{{locale[4].title}}</a> </li>
					<li>
						<ul class="menu-nd">
							<li class="background"></li>

							{% for i in categories %}
								<li>
									<a href="{{ urlFor('category', {'title': i.uri}) }}">{{ i.title }}</a>
{# 									{% if loop.index < loop.length %}
										<span></span>
									{% endif %} #}
								</li>
							{% endfor %}

							<li> <a href="{{ urlFor('projects') }}">{{locale[8].title}}</a> </li>

						</ul>
					</li>
				</ul>

{# 				<ul class="menu-st">
					<li> <a href="{{ urlFor('atelier') }}">{{locale[5].title}}</a> </li>
					<li></li>
				</ul> #}

				<ul class="menu-st">
					<li> <a href="{{ urlFor('contact') }}">{{locale[6].title}}</a> </li>
					<li></li>
				</ul>
			</div>
		</nav>

	</div>

	<div class="grid-10 locale hide-on-mobile">
		<ul>
			<li><a href="?l=_pt"{% if lang == '_pt' %} class="active"{% endif %}>pt</a></li>
			<li>|</li>
			<li><a href="?l=_en"{% if lang == '_en' %} class="active"{% endif %}>en</a></li>
		</ul>
	</div>

</header>

{% endblock %}