<!DOCTYPE html>
<html>
<head>

<!-- Meta Tags -->
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<meta http-equiv="content-language" content="pt"/>
<meta name="author" content="CSA">
<meta name="copyright" content="CSA">
<meta http-equiv="desription" content="CSA"/>
<meta http-equiv="keyword" content="CSA"/>

<!-- OpenGraph Meta Data -->
<meta property="og:title" content="CSA" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://ghuroo.com/csa/" />
<meta property="og:description" content="CSA" />

<meta property="og:image" content="{{ constant('ASSETS') }}img/share.jpg" />
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="200" />
<meta property="og:image:height" content="200" />

<!-- Formatted for readability -->
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />

<!-- Title-->
<title>CSA{{title}}</title>

<!-- Favicon -->
<link rel="shortcut icon" href="favicon.ico?v={{ constant('VERSION') }}">
<link rel="icon" sizes="16x16 32x32 64x64" href="{{ constant('BASE') }}favicon.ico?v={{ constant('VERSION') }}">
<link rel="icon" type="image/png" sizes="196x196" href="{{ constant('BASE') }}favicon-196.png?v={{ constant('VERSION') }}">
<link rel="icon" type="image/png" sizes="160x160" href="{{ constant('BASE') }}favicon-160.png?v={{ constant('VERSION') }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ constant('BASE') }}favicon-96.png?v={{ constant('VERSION') }}">
<link rel="icon" type="image/png" sizes="64x64" href="{{ constant('BASE') }}favicon-64.png?v={{ constant('VERSION') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ constant('BASE') }}favicon-32.png?v={{ constant('VERSION') }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ constant('BASE') }}favicon-16.png?v={{ constant('VERSION') }}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ constant('BASE') }}favicon-152.png?v={{ constant('VERSION') }}">
<link rel="apple-touch-icon" sizes="144x144" href="{{ constant('BASE') }}favicon-144.png?v={{ constant('VERSION') }}">
<link rel="apple-touch-icon" sizes="120x120" href="{{ constant('BASE') }}favicon-120.png?v={{ constant('VERSION') }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ constant('BASE') }}favicon-114.png?v={{ constant('VERSION') }}">
<link rel="apple-touch-icon" sizes="76x76" href="{{ constant('BASE') }}favicon-76.png?v={{ constant('VERSION') }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ constant('BASE') }}favicon-72.png?v={{ constant('VERSION') }}">
<link rel="apple-touch-icon" href="{{ constant('BASE') }}favicon-57.png?v={{ constant('VERSION') }}">
<meta name="msapplication-TileColor" content="#FFFFFF">
<meta name="msapplication-TileImage" content="{{ constant('BASE') }}favicon-144.png?v={{ constant('VERSION') }}">
<meta name="msapplication-config" content="{{ constant('BASE') }}browserconfig.xml?v={{ constant('VERSION') }}">

<!-- Styles -->
<link rel="stylesheet" href="{{ constant('ASSETS') }}styles/css/csa.css?v={{ constant('VERSION') }}">

</head>
<body class="grid-parent" id="csa">

  <!-- PRELOADER -->
  {# {% include 'base/preloader.twig' %} #}

  <!-- HEADER -->
  {% include 'base/header.twig' %}

  <!-- SECTION -->
  <section id="{{ section }}" class="grid-100 mobile-grid-100">
    {% block section %}{% endblock %}
  </section>

  <!-- FOOTER -->
  {% include 'base/footer.twig' %}

	<!-- Scripts -->
	<script src="{{ constant('ASSETS') }}js/csa.min.js?v={{ constant('VERSION') }}"></script>

	{% block js %}{% endblock %}

</body>
</html>