{% extends 'base/layout.twig' %}

{% block section %}

  <div class="grid-100 container">

    <figure class="grid-50 mobile-grid-100">
      <img display: none; class="background" src="{{ constant('ASSETS') }}img/escritorio.jpg" width="100%" height="100%" alt="Escrit&oacute;rio" title="Escrit&oacute;rio" />

      <div style="
        background: url('{{ constant('ASSETS') }}img/escritorio.jpg') no-repeat;
        background-size: cover;
        height: 100%;
      ">

      </div>

      <figcaption class="grid-30">{{ area.title }}</figcaption>
    </figure>

    <div class="grid-50 mobile-grid-100" id="content">
      {{ area.content|raw }}
    </div>

  </div>

{% endblock %}

{% block js %}
{% endblock %}