{% extends 'base/layout.twig' %}

{% block section %}

  <div class="grid-100 container">

    <figure class="grid-50 mobile-grid-100">
      <img style="display: none;" class="background" src="{{ constant('UPLOADS') }}categories/{{ category.uri }}/{{ category.banner }}" width="100%" height="100%" alt="{{ category.title }}" title="{{ category.title }}" />

      <div style="
        background: url('{{ constant('UPLOADS') }}categories/{{ category.uri }}/{{ category.banner }}') no-repeat;
        background-size: cover;
        height: 100%;
      ">

      <figcaption class="grid-30">{{ category.title }}</figcaption>
    </figure>

    <nav class="grid-50 mobile-grid-100">
      <ul class="grid-100">
        {% for i in projects %}
          <li class="grid-100"><a href="{{ urlFor('project', { 'title': i.uri }) }}">{{ i.title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </div>

{% endblock %}

{% block js %}
{% endblock %}