{% extends 'base/layout.twig' %}

{% block section %}

  <div class="grid-100 mobile-grid-100 container">

    {% for i in categories %}

        <a href="{{ urlFor('category', { 'title': i.uri }) }}" target="_parent" style="float: left; width: {{ width }}%;">
          <figure class="grid-100 mobile-grid-100">
            <div class="grid-100 mobile-grid-100">
              <img src="{{ constant('UPLOADS') }}categories/{{ i.uri }}/{{ i.banner }}" width="100%" height="100%" alt="{{ i.title }}" title="{{ i.title }}" />
            </div>

            <figcaption>{{ i.title }}</figcaption>
          </figure>
        </a>

    {% endfor %}

  </div>

{% endblock %}