{% extends 'base/layout.twig' %}

{% block section %}

<div class="grid-100 container{% if section != "about" %} generic{% endif %}">

	{% if section == "about" %}
	  <figure class="grid-50 mobile-grid-100">
	    <img display: none; class="background" src="{{ constant('ASSETS') }}img/escritorio.jpg" width="100%" height="100%" alt="Escrit&oacute;rio" title="Escrit&oacute;rio" />

	    <div style="
	      background: url({{ constant('ASSETS') }}img/escritorio.jpg) no-repeat;
	      background-size: cover;
	      height: 100%;
	    ">

	    </div>

	    <figcaption class="grid-30">{{ area.title }}</figcaption>
	  </figure>

	  <div class="grid-50 mobile-grid-100 center">
	    <div class="grid-100 content mobile-grid-100">
	      {{ area.content|raw }}
	    </div>
	  </div>
  {% else %}

	  <div class="grid-100 mobile-grid-100 center">
	    <div class="grid-100 content mobile-grid-100">
	      {{ area.content|raw }}
	    </div>
	  </div>

	{% endif %}

</div>

{% endblock %}