{% extends 'base/layout.twig' %}

{% block section %}

  <div id="slides" style="float: left; height: 100%;">
    <figure class="slides-container">

    {% for i in banners %}
      {% if i.banner %}
        <img src="{{ constant('UPLOADS') }}banners/{{i.id}}/{{ i.banner }}" width="100%" height="100%" alt="{{ i.title }}" title="{{ i.title }}" />
      {% endif %}
    {% endfor %}

    </figure>

    <nav class="slides-navigation">
      <a href="#" class="next"> <span class="icon-nextNarrow"></span> </a>
      <a href="#" class="prev"> <span class="icon-previousNarrow"></span> </a>
    </nav>
  </div>

{% endblock %}

{% block js %}
  <script>
    $(function() {
      var $slides = $('#slides');

      Hammer($slides[0]).on("swipeleft", function(e) {
        $slides.data('superslides').animate('next');
      });

      Hammer($slides[0]).on("swiperight", function(e) {
        $slides.data('superslides').animate('prev');
      });

      $slides.superslides({
        inherit_height_from: $('section'),
        play: 5000
      });
    });

  </script>
{% endblock %}