{% extends 'base/layout.twig' %}

{% block section %}

  <div class="container grid-100 mobile-grid-100">

    <div>
      {% for project in projects %}
        <a href="{{ urlFor('project', { 'title': project.uri }) }}">
          <article class="grid-20 mobile-grid-100">
            <span class="background" style="
              background: url('{{ constant('UPLOADS') }}projects/{{ project.uri }}/{{ project.images[0] }}') no-repeat;
              background-size: cover;
              ">
            </span>
            <h1>{{ project.title }}</h1>
          </article>
        </a>
        {% if loop.index%5 == 0 %}
          <div class="clear"></div>
        {% endif %}
      {% endfor %}
    </div>

  </div>

{% endblock %}

{% block js %}
  <script>
    $('article').css('height', $('article').width());

    $(window).resize(function() {
      if ($(window).width() < '768') {
        $('article').css('height', $('article').width()/2);
      }else{
        $('article').css('height', $('article').width());
      }

    });
  </script>
{% endblock %}