{% extends 'base/layout.twig' %}

{% block section %}

  <div class="container grid-100">

    <div class="gallery grid-70 mobile-grid-100">
      <div id="slides" style="float: left; height: 100%;">
        <figure class="slides-container">
          {% for i in project.images %}
            <img src="{{ constant('UPLOADS') }}projects/{{ project.uri }}/{{ i }}" width="100%" height="100%" alt="{{ project.title }}" title="{{ project.title }}" />
          {% endfor %}
        </figure>

        <nav class="slides-navigation">
          <a href="#" class="next"> <span class="icon-next"></span> </a>
          <a href="#" class="prev"> <span class="icon-previous"></span> </a>
        </nav>
      </div>
    </div>

    <div class="grid-30 mobile-grid-100 description">
      <h1>{{ project.title }}</h1>
      <h2>{{ project.description|raw }}</h2>
    </div>

    </div>

{% endblock %}

{% block js %}
  <script>
    $(function() {
      var $slides = $('#slides');

      Hammer($slides[0]).on("swipeleft", function(e) {
        $slides.data('superslides').animate('next');
      });

      Hammer($slides[0]).on("swiperight", function(e) {
        $slides.data('superslides').animate('prev');
      });

      $slides.superslides({
        inherit_height_from: $('.gallery'),
        inherit_width_from: $('.gallery'),
        pagination: false
      });
    });

  </script>
{% endblock %}