<div>
	<form
		name="signin.form"
		ng-submit="signin.submit(signin.form.$valid, signin.input)"
		novalidate
		autocomplete="off">

		<label>
			<span>Utilizador:</span>
			<input
				type="email"

				name="username"
				ng-model="signin.input.username"

				required
				ng-minlength="1" />
			<span
				class="form-error"
				ng-show="signin.form.username.$invalid && signin.form.username.$touched">
				Username inválido
			</span>
		</label>

		<label>
			<span>Palavra-passe:</span>
			<input
				type="password"

				name="password"
				ng-model="signin.input.password"

				required
				ng-minlength="1"

				validate-password />
			<span
				class="form-error"
				ng-show="signin.form.password.$invalid && signin.form.password.$touched">
				Palavra-passe inválida
			</span>
		</label>

		<label>
			<span>Relembrar-me</span>
			<input
				type="checkbox"

				name="save"
				ng-model="signin.input.save" />
		</label>

		<button
			type="submit"
			ng-disabled="signin.form.$invalid">
			Entrar
		</button>
	</form>
</div>