/* base */
html {
    font-size: 62.5% !important;
}

body {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    font-weight: $font_light;
    background: $color_white;
}

/* va */
figure.va {
    width: 100%;
    height: 100%;
    display: table;
    float: none;

    p {
        display: table-cell;
        vertical-align: middle;
        margin: 0 auto;
        float: none;
        text-align: center;
    }
}