$desktop_max: '1440px';
$desktop_min: '1025px';

$tablet_max: '1024px';
$tablet_min: '768px';

$mobile_max: '767px';
$mobile_min: '320px';

$mobile_small_max: '319px';
$mobile_small_min: '0px';

// mais de 1440px
@media only screen and (min-width: $desktop_max+1)  {

}

// 1025px até 1440px
@media only screen and (min-width: $desktop_min) and (max-width: $desktop_max)  {

}

// 768px ate 1024px
@media only screen and (min-width: $tablet_min) and (max-width: $tablet_max)  {

}

// 320px ate 767px
@media only screen and (min-width: $mobile_small_min) and (max-width: $mobile_small_max)  {

}

// 0px ate 319px
@media only screen and (min-width: $mobile_small_min) and (max-width: $mobile_small_max)  {

}