<div>

    <div class="page-header">
    	<h1>Iniciar Sessão <small></small></h1>
    </div>

	<form
		name="signin.form"
		class="col-sm-6"

		ng-submit="signin.submit(signin.form.$valid, signin.input)"
		novalidate
		autocomplete="off">

		<div class="form-group">
			<label>Utilizador:</label>
			<input
				type="email"
				class="form-control"

				name="username"
				ng-model="signin.input.username"

				required
				ng-minlength="1"/>
			<span
				class="help-block"
				ng-show="signin.form.username.$invalid && signin.form.username.$touched">
				Username inválido
			</span>
		</div>

		<div class="form-group">
			<label>Palavra-passe:</label>
			<input
				type="password"
				class="form-control"

				name="password"
				ng-model="signin.input.password"

				required
				ng-minlength="1"

				validate-password/>
			<span
				class="help-block"
				ng-show="signin.form.password.$invalid && signin.form.password.$touched">
				Palavra-passe inválida
			</span>
		</div>

		<button
			class="btn btn-block btn-default"
			type="submit"
			ng-disabled="signin.form.$invalid">
			Entrar
		</button>
	</form>
</div>