<!DOCTYPE html>
<html>
<head>

<!-- Meta Tags -->
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<meta http-equiv="content-language" content="pt"/>
<meta name="author" content="dynamicjson">
<meta http-equiv="desription" content="dynamicjson"/>
<meta http-equiv="keyword" content="dynamicjson"/>

<!-- OpenGraph Meta Data -->
<meta property="og:title" content="dynamicjson">
<meta property="og:description" content="dynamicjson">
<meta property="og:type" content="website">
<meta property="og:url" content="dynamicjson">
<meta property="og:image" content="{{ constant('ASSETS') }}img/share.jpg?v={{ constant('VERSION') }}">

<!-- Title-->
<title>Dynamic JSON</title>

<!-- Favicon -->
<link rel="icon" type="image/x-icon" href="img/favicon.ico">

<!-- Cross-Browser -->
<script src="{{ constant('ASSETS') }}js/vendor/modernizr.min.js?v={{ constant('VERSION') }}"></script>

<!-- Styles -->
<link rel="stylesheet" href="{{ constant('ASSETS') }}styles/css/dynamicjson.css?v={{ constant('VERSION') }}">

</head>
<body>

	<div id="container">
		{% block section %}{% endblock %}
	</div>

<!-- Plug-ins-->
<script src="{{ constant('ASSETS') }}js/vendor/jquery-1.10.2.min.js?v={{ constant('VERSION') }}"></script>
<script src="{{ constant('ASSETS') }}js/vendor/TweenMax.min.js?v={{ constant('VERSION') }}"></script>

<!-- Scripts -->
<script src="{{ constant('ASSETS') }}js/dynamicjson.min.js?v={{ constant('VERSION') }}"></script>

</body>
</html>