/* ==========================================================================
   ETSA
   ========================================================================== */
body {
    padding-top: 60px; padding-bottom: 40px;
}
.filter-holder{
  position: relative;
  display: block;
}
.filter-reset{
  position: absolute; top: 50%; right: 2%; z-index: 99;
  margin-top: -7px;
}

.btn-remove {
    color: #bb726a;
}

.btn-remove:hover {
    color: #bb2c21;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir { background-color: transparent; border: 0; overflow: hidden; *text-indent: -9999px; }
.ir:before { content: ""; display: block; width: 0; height: 100%; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px;  margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0;  overflow: visible; position: static; width: auto }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
.left { float: left; }
.right { float: right; }
.fullfloat { float: left; width: 100%; }
.sprt { background: transparent url("../img/sprite.png") no-repeat; }

/* debug */
pre.debug { background: #fefefe; color: #000; display: block; width: 98%; margin: 5px auto; padding: 1%; border-top: 2px red solid; border-bottom: 2px red solid; }

/* ========== custom inputs/selects ========== */
.select-wrap select,
.input-checkbox-wrap input,
.input-radio-wrap input,
.input-file-wrap input { position: absolute; cursor: pointer; -webkit-appearance: none; left: 0; top: 0; width: 100%; min-height: 1.5em; min-height: 100%; height: 3em; max-height: 100%; opacity: 0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); z-index: 2; }
/* ========== select ========== */
.select-wrap {
	background: #fff;
	position: relative;
	float: left; height: 25px;
	padding-right: 26px;
	border: 1px solid #cfcfcf; border-radius: 3px;
}
.select-wrap .select-content {
	font-size: 11px; color: #595959;
	line-height: 25px;
	text-overflow: ellipsis; white-space: nowrap;
	float: left; width: 100px; height: 25px;
	padding: 0 5px;
	overflow: hidden;
}
.select-wrap .select-btn {
	background: transparent url(../img/sprite.png) no-repeat -580px -20px;
	position: absolute; right: 0; top: 0;
	width: 26px; height: 100%;
}
/* ========== [checkbox] [radio] [file] ========== */
.input-checkbox-wrap, .input-radio-wrap, .input-file-wrap { background: transparent url(../img/sprite.png) no-repeat; display: inline-block; position: relative; width: 18px; height: 19px; }

.input-checkbox-wrap { background-position: -100px -100px; }
.input-radio-wrap { background-position: -150px -100px; }
.input-file-wrap { background-position: -200px -100px; }

.input-checkbox-wrap.active { background-position: -100px -150px; }
.input-radio-wrap.active { background-position: -150px -150px; }
.input-file-wrap.active { background-position: -200px -150px; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
    * { background: transparent !important; color: #000 !important; /* Black prints faster: h5bp.com/s */ box-shadow:none !important; text-shadow: none !important; }
    a, a:visited { text-decoration: underline; }
    a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
    /*
     * Don't show links for images, or javascript/internal links
     */
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
    thead { display: table-header-group; /* h5bp.com/t */ }
    tr, img { page-break-inside: avoid; }
	img { max-width: 100% !important; }
    @page { margin: 0.5cm; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3 { page-break-after: avoid; }
}

.popup-images {
}

.popup-images li {
  display: inline-block;
  list-style-type: none;
  padding: 5px 5px 5px 0px;
}

textarea { resize: vertical; }

/* Image Organizer */
.image-organizer {
  float: left;
  width: 100%;
  padding: 0px;
}

.image-organizer li {
  display: inline-block;
  list-style-type: none;
  width: 150px;
  height: 150px;
  float: left;
  padding: 0px;
  margin: 0px 5px 5px 0px;
}

.image-organizer li:hover .options {
  display: block;
}

.image-organizer li img {
  width: 100%;
  height: 100%;
}

.image-organizer li .options {
  position: absolute;
  top: 0px;
  right: 0px;
  /*width: 100%;*/
  margin: 5px;
  display: none;
}

.image-organizer li.add {
  display: table;
}

.image-organizer li .wrapper {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.image-organizer li input[type="file"] {
  display: none;
}

.image-organizer li button {
  margin-top: 10px;
}

#alert_container {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding-top: 10px;
}

#alert_container >div {
  width: auto;
  display: table;
  margin: 0 auto;
}

#alert_container .close {
  padding-left: 10px;
}

.glyphicon { top: 2px; }

input[type="text"], textarea { margin-top: 10px; }