/* CSS Document */


/*/////////////////////////////////////////////////////////////////////////////////////////// BODY */
html,body,div,pre,form,fieldset,input,h1,h2,h3,h4,h5,h6,p,textarea,ul,ol,li,dl,dt,dd,blockquote,th,td,
/* HTML 5 elements */ abbr,article,aside,audio,canvas,details,figcaption,figure,footer,header,hgroup,
mark,menu,meter,nav,output,progress,section,summary,time,video { margin: 0; padding: 0; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset,img { border: 0; }
address,caption,cite,code { font-style: normal; font-weight: normal; }
ul { list-style: none; }
caption,th { text-align: left; }
h1,h2,h3,h4,h5,h6 { font-size: 100%; font-weight: normal; }
q:before,q:after { content: ''; }
abbr,acronym { border: 0; }
a { outline:none; text-decoration:none; color:#000 } a:hover { color:#000 } a img { border:none; } 
:focus { outline:none; }/* For Chrome */
body,html{width:100%; height:100%; font-family:Arial, Helvetica, sans-serif; font-size:100%; color:#000;}

body,html{-webkit-tap-highlight-color:transparent; -webkit-touch-callout:none; -webkit-user-select:none; -khtml-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none;}

#barco{position:relative; width:60px; height:30px; left:500px; top:50px; background-image:url('../media/barco-de-papel.jpg'); background-size:100%; background-repeat:no-repeat; z-index:5}
.ponto {position:absolute; width:100px; height:50px; padding-left:50px; z-index:1}

