footer {
	@include va-parent;
	height: 13%;
	padding-left: $main-padding;
	padding-right: $main-padding;

	>div {
		@include va-child;
	}

	.container {
		padding-top: 20px;
		border-top: 1px solid $color-black;
		display: table;
	}

	.disclaimer, .social {
		@include va-child;

		p { @include va-child; }
	}

	.disclaimer p { text-align: left; }

	.social {

		p { text-align: right; }

		>div { float: right; }

		.facebook, .linkedin {
			font-size: 2em;
			background: #000;
			color: #fff;
			padding: 1px 0px 1px 0px;
			margin-left: 8px;

			&:hover { background: $color-csa-red; }
		}
	}

}