header {
	height: 17%;
	padding-left: $main-padding;
	padding-right: $main-padding;
	background: $color-white;
	z-index: 1;
	font-size: 1em;

  .logo {
  	@include va-parent-inline;

		p { @include va-child; }

		img {
			max-width: 160px;
		}
  }

  .nav-container {
  	@include va-parent-inline;

	  nav {
	  	@include va-child;

	  	>div { width: auto; float: right; padding-top: 6%; }

	  	ul.menu-st {
				width: auto;
				display: table;
				text-align: center;
				padding: 0px 20px 0px 20px;
				text-transform: uppercase;
				float: left;

				&:hover {
					.menu-nd { display: block; }

					>li {
						color: $color-csa-red;

						// &:first-child { border-bottom-color: $color-csa-red; }

						>a { color: $color-csa-red; }
					}
				}

				&:last-child { padding-left: 70px; }

				>li {
					font-size: 1.2em;

					&:first-child {
						$pd: 10px;
						padding: 0px $pd 2px $pd;
						// border-bottom: 1px solid $color-black;
	  				cursor: pointer;
					}

					&:last-child {
						width: 160px;
						position: absolute;
						left: 50%;
						padding-top: 10px;
						margin-left: -80px;
					}

					a {
						color: $color-black;
						transition: all 0.2s;
					}
				}
	  	}

	  	ul.menu-nd {
				text-transform: capitalize;
				display: none;
				margin: 0 auto;

				.background {
					padding: 0px;
					position: absolute;
					border: none;
					width: 100%;
					height: 100%;
					margin: 0px;
					background: $color-csa-red;
					opacity: 0.7;
					z-index: 0;
					box-shadow: 1px 1px 20px 0px $color-csa-red-darker;
				}

	  		li {
					$pd: 10px;
					margin: 0px $pd 0px $pd;
					z-index: 1;
					font-size: 0.9em;

					&:hover {
						a {
							// color: $color-csa-red-darker;
							opacity: 0.5;
						}

						span {
							width: 100%;
						}
					}

					a {
						color: $color-white;
						position: relative;
						display: block;
						padding: $pd 15px $pd 15px;
						// border-bottom: 1px solid $color-white;
					}

					span {
						width: 80%;
						height: 1px;
						margin: 0 auto;
						background: $color-white;
						display: table;
						transition: all 0.2s;
					}

					&:last-child {
						a { border: none; }
					}
	  		}
	  	}
	  }
  }

  .locale {
  	@include va-parent-inline;

  	ul {
			@include va-child;
			// bottom: 20%;

	  	li {
	  		text-align: center;
	  		text-transform: uppercase;
	  		float: right;
	  		font-size: 1.5em;
	  		font-weight: bold;
	  		$pd: 2px;
	  		padding: 0px $pd 0px $pd;

	  		a {
					color: $color-black;

					&.active { color: $color-csa-grey; }
					&:hover { color: $color-csa-red; }
	  		}
	  	}
  	}
  }

}