#preloader {

	@include va-parent;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background: $color-white;
	z-index: 9;

	p {
		@include va-child;
		text-align: center;
		font-size: 2em;
		text-transform: uppercase;
	}

}