// Height < 480px
@media screen and (max-height: 480px) {

  header .nav-container nav > div { padding-top: 5px; }

  header .logo img { max-width: 120px; }

  footer .container {
    padding-top: 0px;
    border-top: none;
  }
}

// < 768px
@media screen and (max-width: 768px) {

  header .nav-container nav ul.menu-st { padding-left: 0px; padding-right: 10px; }
  header .nav-container nav ul.menu-st:last-child { padding-left: 35px; }

  header .nav-container {
    display: inline-table;
    height: 100%;
  }

  header { padding: 0px; }

  #projects a { height: 20%; }

  #projects figure img {
    width: 130%;
    height: auto;
    top: -200%;
  }

  #projects figure figcaption {
    bottom: 0px;
    top: initial;
  }

  #categories a { top: initial; width:100% !important; height: 20%; }
  #categories figure:hover img { transform: translateY(-20%); }
  #categories figure img { width: 100%; height: auto; }
  #categories figure figcaption { top: 0px; }
  #categories .container { top: initial; }

  // #category figure, #atelier figure { padding-left: 0px; }

  #category .container { top: initial; }
  #category nav ul li { width: auto; }
  #category nav { padding: 0px 30px 0px 30px; height: 60%; }
  #category nav ul li a { width: 95%; }

  #category figure, #atelier figure { height: 40%; padding-left: 30px; padding-right: 30px; }
  #category figure img { width: 100%; height: auto; }

  #project .container { top: initial; }
  #project .gallery { height: 70%; }
  #project .description { height: 25%; padding-top: 5%; }

  #home .slides-navigation {
    font-size: 4em;
    width: 90%;
    margin: 0 auto;
    display: table;
    float: none;
    position: relative;
    top: -100%;
  }

  #category figure, #about figure, #project .gallery { padding: 0px; height: 60%; }
  #about .content { padding-left: 10px; }

  header { height: 10%; }
  section { height: 80%; }
  #category .container, #about .container, #project .container { top: 0%; height: 100%; }
  footer { height: 10%; }
}

// < 400px
@media screen and (max-width: 400px) {
  body { font-size: 0.7em; }

  header .nav-container nav ul.menu-st > li:last-child { display: none; }
  header .nav-container nav ul.menu-st:hover .menu-nd { display: none; }
  header .nav-container nav ul.menu-st:last-child { padding-left: 0px; }

  footer { padding-left: 10px; padding-right: 10px; }

}