// Vendor CSS
@import "vendor/reset";
@import "vendor/core";

// Unsemantic Grid
@import "vendor/unsemantic-grid/unsemantic-grid-responsive";

// Fonts
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

// Fonts
@mixin lato-light { font-family: 'Lato'; font-weight: 300; }
@mixin lato-regular { font-family: 'Lato'; font-weight: 400; }
@mixin lato-bold { font-family: 'Lato'; font-weight: 700; }

// Colors
$white: #fff;

body, html {
	width: 100%;
	height: 100%;
	@include lato-light;
	overflow: hidden;
	position: fixed;
}

// General
section {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
	top: 0px;
	left: 0px;
	transform: translateX(500%);
	overflow: auto;
}

.grid-container { width: 100%; height: 100%; }

// Home
section#favourites { background: #132053; }

// History
section#search { background: #1E5779; }

// Home
section#history { background: #4EB7DE; }

// History
section#settings { background: #9FD7EC; }

// Nav
nav {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 80px;
	background: #FFFFFF;
	font-weight: bold;
	z-index: 9;

	ul {
		width: 100%;
		height: 100%;

		li {
			color: #414141;
			width: 25%;
			text-align: center;
			cursor: pointer;
			font-size: 12px;
			transition: all 0.1s ease-in;

			&:active, &.selected {
				background: #383838;
				color: #fff;
			}
		}
	}
}

section.center { transform: translateX(0);  z-index: 1; }