@font-face {
    font-family: 'SegoeUIRegular';
    src:url('../fonts/segoeui.eot?ba996d');
    src:url('../fonts/segoeui.eot?#iefixba996d') format('embedded-opentype'),
        url('../fonts/segoeui.woff?ba996d') format('woff'),
        url('../fonts/segoeui.ttf?ba996d') format('truetype'),
        url('../fonts/segoeui.svg?ba996d#segoeui') format('svg');
    font-weight: normal; font-style: normal;
}
@font-face {
    font-family: 'SegoeUIBold';
    src:url('../fonts/segoeuib.eot?ba996d');
    src:url('../fonts/segoeuib.eot?#iefixba996d') format('embedded-opentype'),
        url('../fonts/segoeuib.woff?ba996d') format('woff'),
        url('../fonts/segoeuib.ttf?ba996d') format('truetype'),
        url('../fonts/segoeuib.svg?ba996d#segoeuib') format('svg');
    font-weight: normal; font-style: normal;
}
@font-face {
    font-family: 'SegoeUILight';
    src:url('../fonts/segoeuil.eot?ba996d');
    src:url('../fonts/segoeuil.eot?#iefixba996d') format('embedded-opentype'),
        url('../fonts/segoeuil.woff?ba996d') format('woff'),
        url('../fonts/segoeuil.ttf?ba996d') format('truetype'),
        url('../fonts/segoeuil.svg?ba996d#segoeuil') format('svg');
    font-weight: normal; font-style: normal;
}
@font-face {
    font-family: 'SegoeUISemiBold';
    src:url('../fonts/segoeuisb.eot?ba996d');
    src:url('../fonts/segoeuisb.eot?#iefixba996d') format('embedded-opentype'),
        url('../fonts/segoeuisb.woff?ba996d') format('woff'),
        url('../fonts/segoeuisb.ttf?ba996d') format('truetype'),
        url('../fonts/segoeuisb.svg?ba996d#segoeuisb') format('svg');
    font-weight: normal; font-style: normal;
}

.background {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.grid-100 { float: left; }

a {
    text-decoration: none;
}

figure {
    margin: 0px;
    padding: 0px;
}

h1, h2, h3, p, span {
    padding: 0px;
    margin: 0px;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'SegoeUILight', Helvetica, Arial, sans-serif;
}

html {
    font-size: 62.5% !important;
}

body {
    font-size: 1em;
}

figure {
    text-align: center;
}

figure img {
    width: auto;
    display: table;
    margin: 0 auto;
}

h1, h2, p {
    width: 100%;
    text-align: center;
}

button {
    font-size: 1.5em;
    border: none;
    padding: 15px 20px;
    outline: none !important;
    -webkit-appearance: button;
    font-family: 'SegoeUIBold';
    min-width: 120px;
}

button.success {
    background: #7FBA22 !important;
}

button.success:hover {
    background: #7FBA22 !important;
    color: #fff !important;
}

button.blue {
    color: #fff;
    background: #3D8FC5;
}

button.blue:hover {
    color: #3D8FC5;
    background: #fff;
}

button.white {
    color: #fff;
    background: none;
    border: 2px solid #fff;
}

button.white:hover {
    color: #3D8FC5;
    background: #fff;
}

button.white.blue {
    color: #3D8FC5;
    background: none;
    border: 2px solid #3D8FC5;
}

button.white.blue:hover {
    color: #fff;
    background: #3D8FC5;
}

.container {
    width: 645px;
    display: table;
    margin: 0 auto;
}

/*header*/
header {
    background: url(../images/header-bg.png) no-repeat;
    background-size: cover;
    background-position: 50%;
    padding-bottom: 45px;
}

header .logo img {
    padding-top: 30px;
    max-width: 210px;
}

header h1 {
    font-size: 2.3em;
    padding-top: 30px;
    line-height: 1.2;
    font-family: 'SegoeUILight';
    color: #0d244e;
}

header h1 span {
    font-size: 41px;
    font-family: 'SegoeUISemiBold';
}

header h2 {
    padding-top: 20px;
    font-size: 2.1em;
    color: #dc3c00;
    line-height: 1.5;
    font-family: 'SegoeUILight';
}

header h2 span {
    font-family: 'SegoeUIBold';
}

header .form {
    padding-top: 30px;
    display: table;
    margin: 0 auto;
    float: none;
}

header form label {
    height: 35px;
    margin-bottom: 15px;
    float: left;
}

header form input {
    font-size: 1.3em;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #000;
    border: none;
    width: 100%;
    height: 100%;
    background: #ffffff;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-backface-visibility: hidden !important;
    -moz-backface-visibility: hidden !important;
    backface-visibility: hidden !important;
    appearance: none;
    -webkit-appearance: none;

    height: 35px;
    line-height: 35px;
}

header form input.error {
    box-shadow: 0px 3px 0px 0px #F06431;
}

header form button {
    float: right;
}

header form p {
    color: #3D8FC5;
    font-size: 1.3em;
    text-align: left;
}

header .success-message {
    display: table;
    background: #C5EBF6;
    display: none;
    width: 100%;
    height: 180px;
    margin-bottom: 20px;
}

header .success-message span {
    display: table-cell;
    vertical-align: middle;
    float: none;
    font-size: 1.4em;
    color: #3D8FC5;
    text-align: center;
}

header .success-message span span {
    float: none;
    display: inline-block;
    width: 100%;
    padding-bottom: 30px;
    color: #7FBA22;
    font-family: 'SegoeUISemiBold';
}

/*article*/
article {
    background: #3D8FC5;
    color: #fff;
    text-align: center;
    font-family: 'SegoeUILight';
    padding-bottom: 35px;
}

article h1 {
    font-size: 2.8em;
    padding-top: 35px;
    padding-bottom: 0px;
    font-family: 'SegoeUILight';
}

article p {
    font-size: 1.4em;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 1.5;
}

article button {
    display: table;
    margin: 0 auto;
    float: none;
}

/*section*/
section {
    padding: 35px 0px;
    background: #fff;
}

section .container {
    width: 825px;
}

/*section figure img {
    width: 100%;
    height: auto;
}*/

section figure span {
    background: url('../images/tablets-banner.png') no-repeat;
    background-size: auto 380px;
    width: 100%;
    height: 380px;
    float: left;
    background-position-x: 50%;
}

section ul {
    padding: 20px 0px;
    color: #3D8FC5;
    font-size: 1.4em;
}

section li {
    padding: 20px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

section li .icon {
    position: absolute;
    text-align: center;
    width: 20px;
}

section li .icon img {
    position: relative;
    left: -30px;
}

section li .title {
    font-family: 'SegoeUIBold';
    width: 100%;
    text-align: left;
    float: left;
}

section li .text {
    font-family: 'SegoeUIRegular';
    width: 100%;
    text-align: left;
    float: left;
    padding-top: 5px;
    line-height: 1.5;
}


section button {
    display: table;
    margin: 0 auto;
    float: none;
}

section a.questoes {
    color: #858585;
    font-size: 1.5em;
    font-family: 'SegoeUIBold';
    text-decoration: none;
    text-align: center;
    width: 100%;
    display: block;
    margin-top: 30px;
    float: left;
}

footer {
    height: 50px;
    background: #292929;
}

footer > .parent {
    width: 100%;
    height: 100%;
    display: table;
    float: none;
}

footer > .parent > .child {
    display: table-cell;
    vertical-align: middle;
    float: none;
    padding: 0px 20px;
}

footer .copy {
    color: #fff;
    font-size: 1.4em;
    line-height: 25px;
}

footer .logo {
    text-align: right;
}

footer .logo img {
    height: 25px;
}

footer ul {
    text-align: center;
}

footer ul a {
    font-size: 1.4em;
    color: #747474;
    line-height: 25px;
    text-decoration: none;
}

footer ul a:hover {
    color: #999999;
}

footer li {
    display: inline-block;
    padding: 0px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

footer li:after {
    content: "|";
    color: #747474;
    left: 10px;
    position: relative;
}

footer li.last:after {
    content: '';
}

/*responsive*/

/*mais de 1025px*/
@media only screen and (min-width: 1025px)  {

}

/*0px ate 1024px*/
@media only screen and (min-width: 0px) and (max-width: 1024px)  {

    section .container {
        width: 90%;
    }

    section figure span {
        background: url('../images/tablets-banner-mobile.png') no-repeat;
        background-size: auto 160px;
        height: 160px;
        background-position-x: 50%;
    }

    section figure {
        margin-bottom: 15px;
    }

    section ul {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0px 0px 0px 30px;
    }

    section button {
        margin-top: 15px;
    }

    footer ul a,
    footer .copy {
        font-size: 1.3em;
    }

    footer li {
        padding: 0px 6px;
    }

    footer li:after {
        left: 6px;
    }

    footer .logo img {
        height: 15px;
        top: 5px;
        position: relative;
    }

    section button {
        font-size: 1.3em;
    }

}

/*0px ate 767px*/
@media only screen and (min-width: 0px) and (max-width: 767px)  {

    .container {
        width: 100%;
    }

    header {
        background: #C5EBF6;
    }

    header h1 {
        font-size: 1.8em;
        line-height: 1.7em;
    }

    header h1 span {
        font-size: 1.6em;
    }

    article p {
        padding-left: 10px;
        padding-right: 10px;
    }

    section ul {
        padding-left: 15px;
    }

    section li {
        padding: 20px 10px;
        padding-right: 0px;
    }

    footer {
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    footer ul {
        padding-bottom: 10px;
    }

}

/*0px ate 319px*/
@media only screen and (min-width: 0px) and (max-width: 319px)  {

}