{% extends 'base/layout.twig' %}

{% block header_inc %}
	<style>
		p{text-align:center;margin:50px 0}
	</style>
{% endblock %}

{% block seo_inc %}
    <title>404</title>
{% endblock %}

{% block content %}
	<div class="row">        
		<div class="col-md-12">
			<p class="well well-lg"><span class="glyphicon glyphicon-info-sign"></span> Página não encontrada.</p>
    	</div>
    </div>
{% endblock %}