{% extends 'base/layout.twig' %}

{% block header_inc %}
<style>
select { width: 100%; }
td { vertical-align: middle !important; }
</style>
{% endblock %}

{% block content %}
    {% include 'partials/title.twig' %}

    <div class="row">
        <div class="col-md-9">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Título EN</th>
                            <th>Acções</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in areas %}
                        <tr>
                            <td>{{ i.title }}</td>
                            <td>{{ i.title_en }}</td>

                            <td>

                                <a href="{{ urlFor('areas-update') }}{{ i.id }}">
                                    <span class="glyphicon glyphicon-pencil"></span> Editar
                                </a>

                            </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>

{% endblock %}

{% block modalbox_inc %}
    <div id="myModal-read" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Área</h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_inc %}
    <script>
        $(document).ready(function(){
            readModalbox();
        });
    </script>
{% endblock %}