{% extends 'base/layout.twig' %}

{% block header_inc %}
<style>
select { width: 100%; }
</style>
{% endblock %}

{% block content %}

<form
	id="areaUpdate"
	role="form"
	method="post"
	action="{{ urlFor('areas-update-save') }}{{ item.id }}"
>

	<fieldset class="col-md-12">
		<legend>{{item.title}}</legend>

		<div class="row"></div>

{# 		<div class="form-group col-md-6">
		  <label for="content">Conteúdo</label>
		  <textarea style="font-size: 11px;" rows="20" class="form-control" name="content" placeholder="Insira Conteúdo">{{item.content}}</textarea>
		</div> #}

{# 		<div class="form-group col-md-6">
		  <label for="content">Conteúdo EN</label>
		  <textarea style="font-size: 11px;" rows="20" class="form-control" name="content_en" placeholder="Insira Conteúdo">{{item.content_en}}</textarea>
		</div> #}

		<div class="form-group col-md-6">
			<p>Português</p>
        <textarea name="content" id="content" rows="20" class="form-control">
            {{item.content}}
        </textarea>
		</div>

		<div class="form-group col-md-6">
			<p>Inglês</p>
        <textarea name="content_en" id="content_en" rows="20" class="form-control">
            {{item.content_en}}
        </textarea>
		</div>

		<div class="row">
			<div class="col-md-9">
				<button type="submit" class="btn btn-primary">Guardar</button>
				<a
					href="{{ urlFor('areas') }}"
					class="btn btn-default">
					Voltar
				</a>
			</div>
		</div>

	</fieldset>
</form>

{% endblock %}

{% block js_inc %}
<script>

	$('input[type="file"], select').change(function() {
  	$(this).parents('form').submit();
	});

	if ($('a[data-dismiss="alert"]')) {
		$('#alert_container').delay(1200).fadeOut(300);

		setTimeout(function() {
			$('a[data-dismiss="alert"]').click();
		}, 1500);

	};

</script>

<script>
	// Replace the <textarea id="editor1"> with a CKEditor
	// instance, using default configuration.
	CKEDITOR.replace( 'content', {
		language: 'pt',
		// Define the toolbar groups as it is a more accessible solution.
		toolbarGroups: [
	    { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
	    { name: 'clipboard' },
	    { name: 'editing',     groups: [ 'find', 'selection' ] },
	    { name: 'links' },
	    // { name: 'insert' },
	    // { name: 'forms' },
	    // { name: 'tools' },
	    // { name: 'others' },
	    // '/',
	    { name: 'paragraph',   groups: [ 'list', 'indent', 'align' ] },
	    { name: 'document',    groups: [ 'mode', 'document', 'doctools' ] }
	    // { name: 'styles' },
	    // { name: 'colors' },
	    // { name: 'about' }
		],
		// Remove the redundant buttons from toolbar groups defined above.
		removeButtons: 'Underline,Strike,Subscript,Superscript,Maximize,Anchor,Specialchar'
	} );

	CKEDITOR.replace( 'content_en', {
		language: 'pt',
		// Define the toolbar groups as it is a more accessible solution.
		toolbarGroups: [
	    { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
	    { name: 'clipboard' },
	    { name: 'editing',     groups: [ 'find', 'selection' ] },
	    { name: 'links' },
	    // { name: 'insert' },
	    // { name: 'forms' },
	    // { name: 'tools' },
	    // { name: 'others' },
	    // '/',
	    { name: 'paragraph',   groups: [ 'list', 'indent', 'align' ] },
	    { name: 'document',    groups: [ 'mode', 'document', 'doctools' ] }
	    // { name: 'styles' },
	    // { name: 'colors' },
	    // { name: 'about' }
		],
		// Remove the redundant buttons from toolbar groups defined above.
		removeButtons: 'Underline,Strike,Subscript,Superscript,Maximize,Anchor,Specialchar'
	} );

</script>

{% endblock %}