{% extends 'base/layout.twig' %}

{% block header_inc %}
<style>
select { width: 100%; }
td { vertical-align: middle !important; }
</style>
{% endblock %}

{% block content %}
    {% include 'partials/title.twig' %}

    <div class="row">
        <div class="col-md-9">
            {% if count.banners_total == 0 %}
                <p class="well well-sm">Não existem resultados para apresentar.</p>
            {% else %}
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Imagem</th>
                            <th>Ordem</th>
                            <th>Acções</th>
                            <th>Estado</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in banners %}
                        <tr>
                            <td>{{ i.title }}</td>
                            <td>
                                {% if i.banner %}
                                    <img src="{{ constant('BASE') }}uploads/banners/{{i.id}}/{{ i.banner }}" width="50px" height="50px" title="{{ i.title }}" alt="{{ i.title }}" />
                                {% endif %}
                            </td>
                            <td>{{i.sequence}}</td>

                        <td>
                            <a href="#myModal-read"
                            role="button"
                            data-url="{{ urlFor('banners-read') }}{{ i.id }}">
                                <span class="glyphicon glyphicon-eye-open"></span> Ver
                            </a>

                            <span style="margin-left:10px;"></span>

                            <a href="{{ urlFor('banners-update') }}{{ i.id }}">
                                <span class="glyphicon glyphicon-pencil"></span> Editar
                            </a>

                        </td>

                        <td>

                            {% if (i.active == "no") %}
                                <a href="{{ urlFor('banners-activate') }}{{ i.id }}" role="button" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-plus"></span> Activar</a>
                            {% else %}
                                <a href="{{ urlFor('banners-deactivate') }}{{ i.id }}" role="button" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-remove"></span> Desactivar</a>
                            {% endif %}
                        </td>

                        <td>
                            <a href="{{ urlFor('banners-delete') }}{{ i.id }}"
                                    role="button"
                                    onClick="return confirm('Eliminar a categoria?');"
                                    class="btn btn-danger btn-xs"> <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>

        <!-- SIDEBAR -->
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul class="nav">
                        <li>
                            <b>Total de Banners:</b> {{count.banners_total}}
                        </li>
                        <br/>
                        <li>
                            <b>Banners activos:</b> {{count.banners_active}}
                        </li>
                        <li>
                            <b>Banners inactivos:</b> {{count.banners_inactive}}
                        </li>
                    </ul>
                </div>
            </div>

            <a href="{{ urlFor('banners-create') }}" role="button" class="btn btn-success"> Adicionar Banner</a>
        </div>

        <!-- /SIDEBAR -->
    </div>

{% endblock %}

{% block modalbox_inc %}
    <div id="myModal-read" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Banner</h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_inc %}
    <script>
        $(document).ready(function(){
            readModalbox();
        });
    </script>

<script>

    $('input[type="file"], select').change(function() {
    $(this).parents('form').submit();
    });

    var timer = null;

    $('input[type="text"], textarea').on('input', function() {
    clearTimeout(timer);
    var input = $(this);

        timer = setTimeout(function() {
            input.parents('form').submit();
            // console.log(':D');
        }, 1000);

    });

    if ($('a[data-dismiss="alert"]')) {
        $('#alert_container').delay(1200).fadeOut(300);

        setTimeout(function() {
            $('a[data-dismiss="alert"]').click();
        }, 1500);

    };

</script>
{% endblock %}