{% extends 'base/layout.twig' %}

{% block header_inc %}
<style>
select { width: 100%; }
</style>
{% endblock %}

{% block content %}

<form
	id="categoryUpdate"
	role="form"
	method="post"
	action="{{ urlFor('categories-create-save') }}"
>

	<fieldset class="col-md-4">
		<legend>Nova categoria</legend>

		<div class="form-group">
		  <label for="title">Título</label>
		  <input type="text" name="title" class="form-control" placeholder="Título" value="">
		</div>

		<p><strong>Nota:</strong> Para adicionar imagens, insira primeiro um título.</p>

		<div class="row">
			<div class="col-md-9">
				<button type="submit" class="btn btn-primary">Guardar</button>
				<a
					href="{{ urlFor('categories') }}"
					class="btn btn-default">
					Voltar
				</a>
			</div>
		</div>

	</fieldset>
</form>

{% endblock %}

{% block js_inc %}
<script>

	if ($('a[data-dismiss="alert"]')) {
		$('#alert_container').delay(97000).fadeOut(300);

		setTimeout(function() {
			$('a[data-dismiss="alert"]').click();
		}, 10000);

	};

	$('#categoryUpdate').on('submit', function(e) {
		var form = $(this);

		if ($('input[name="title"]').val() == "") {
			e.preventDefault();

			$('input[name="title"]').focus();
		} else {
			return;
		}

	});

</script>
{% endblock %}