{% extends 'base/layout.twig' %}

{% block header_inc %}
<style>
select { width: 100%; }
</style>
{% endblock %}

{% block content %}

<form
	id="categoryUpdate"
	role="form"
	method="post"
	action="{{ urlFor('categories-update-save') }}{{ category.id }}"
>

	<fieldset class="col-md-4">
		<legend>Detalhes</legend>

		<div class="form-group">
		  <label for="title">Título</label>
		  <input type="text" name="title" class="form-control" placeholder="Título" value="{{category.title}}">
			<input type="text" name="title_en" class="form-control" placeholder="Título EN" value="{{category.title_en}}">
		</div>

		<div class="row">
			<div class="col-md-9">
				<button type="submit" class="btn btn-primary">Guardar</button>
				<a
					href="{{ urlFor('categories') }}"
					class="btn btn-default">
					Voltar
				</a>
			</div>
		</div>

	</fieldset>
</form>

<form
	id="imageUpload"
	role="form"
	method="post"
	action="{{ urlFor('imageUpload') }}/{{category.id}}"
	enctype="multipart/form-data"
>

	<input type="hidden" name="type" value="categories"></input>
	<input type="hidden" name="uri" value="{{ category.uri }}"></input>

	<fieldset class="col-md-8">
		<legend>Imagem</legend>

		<ul class="image-organizer">

			{% if category.banner != "" %}
				<li class="col-md-4">
					<img src="{{ constant('BASE') }}uploads/categories/{{ category.uri }}/{{ category.banner }}" width="100%" height="auto" title="{{ category.title }}" alt="{{ category.title }}" />

					<div class="options">

						<a href="{{ urlFor('images-delete') }}categories/{{ category.id }}/{{ category.banner }}" class="btn btn-danger btn-xs">
							<span class="glyphicon glyphicon-remove"></span>
						</a>

					</div>
				</li>
			{% endif %}

			{% if category.banner == "" %}
			<li class="col-md-4 add">
				<div class="wrapper">

			  	<label class="btn btn-success">
			  		Adicionar
			  		<input type="file" name="uploads[]"></input>
			  	</label>

				</div>
			</li>
			{% endif %}

		</ul>

	</fieldset>
</form>

{% endblock %}

{% block js_inc %}
<script>

	$('input[type="file"], select').change(function() {
  	$(this).parents('form').submit();
	});

	var timer = null;

	// $('input[type="text"], textarea').on('input', function() {
 //  	clearTimeout(timer);
 //  	var input = $(this);

	// 	timer = setTimeout(function() {
	// 		input.parents('form').submit();
	// 		// console.log(':D');
	// 	}, 1000);

	// });

	if ($('a[data-dismiss="alert"]')) {
		$('#alert_container').delay(1200).fadeOut(300);

		setTimeout(function() {
			$('a[data-dismiss="alert"]').click();
		}, 1500);

	};

</script>
{% endblock %}