{% extends 'base/layout.twig' %}

{% block header_inc %}
<style type="text/css">
    body {
        background-color: #eee;
        padding-top: 40px; padding-bottom: 40px;
    }
    img { margin: 0 0 20px; }
    .form-signin {
        max-width: 330px;
        margin: 0 auto; padding: 15px;
    }
    .form-signin .form-signin-heading,
    .form-signin .checkbox { margin-bottom: 10px; }
    .form-signin .checkbox { font-weight: normal; }
    .form-signin .form-control {
        font-size: 16px;
        position: relative;
        height: auto;
        padding: 10px;
        -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
    }
    .form-signin .form-control:focus { z-index: 2; }
    .form-signin input[type="text"] {
        margin-bottom: -1px;
        border-bottom-left-radius: 0; border-bottom-right-radius: 0;
    }
    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-right-radius: 0; border-top-left-radius: 0;
    }
</style>
{% endblock %}

{% block content %}
<form action="{{ urlFor('login') }}" method="post" id="form_login" class="form-signin">

    <img src="{{ constant('ASSETS') }}img/logo.png" alt="CSA" width="200" height="auto" style="margin: 0 auto; display: table; padding-bottom: 20px;"/>

    <div class="form-group">
        <input type="text" name="user" class="form-control" placeholder="Nome de utilizador" value="" autofocus>
    </div>

    <div class="form-group">
        <input type="password" name="password" class="form-control" placeholder="Password" value="">
    </div>

    <div class="form-group has-error">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar Sessão</button>
        <span class="help-block"></span>
    </div>

</form>
{% endblock %}

{% block js_inc %}
<script>$(document).ready(function(){ pagLogin(); });</script>
{% endblock %}