{% extends 'base/layout.twig' %}

{% block header_inc %}
<style>
select { width: 100%; }
</style>
{% endblock %}

{% block content %}

<form
	id="projectUpdate"
	role="form"
	method="post"
	action="{{ urlFor('projects-update-save') }}{{ project.id }}"
>

	<fieldset class="col-md-4">
		<legend>Detalhes</legend>

		<div class="form-group">
		  <label for="title">Título</label>
		  <input type="text" name="title" class="form-control" placeholder="Título" value="{{project.title}}">
		  <input type="text" name="title_en" class="form-control" placeholder="Título EN" value="{{project.title_en}}">
		</div>

		<div class="form-group">
		  <label for="title">Descrição</label>
		  <textarea rows="7" class="form-control" name="description" placeholder="Descrição">{{project.description}}</textarea>
		  <textarea rows="7" class="form-control" name="description_en" placeholder="Descrição EN">{{project.description_en}}</textarea>
		</div>

		<div class="form-group">
			<label>Categoria</label>
		  <select class="form-control" name="category">
		    {% for i in categories %}
		      <option value="{{ i.id}}" {% if i.id == project.category.id %} selected="selected"{% endif %}>{{ i.title}}</option>
		    {% endfor %}
		  </select>
		</div>

		<div class="row">
			<div class="col-md-9">
				<button type="submit" class="btn btn-primary">Guardar</button>
				<a
					href="{{ urlFor('projects') }}"
					class="btn btn-default">
					Voltar
				</a>
			</div>
		</div>

	</fieldset>
</form>

<form
	id="imageUpload"
	role="form"
	method="post"
	action="{{ urlFor('imageUpload') }}/{{project.id}}"
	enctype="multipart/form-data"
>

	<input type="hidden" name="type" value="projects"></input>
	<input type="hidden" name="uri" value="{{ project.uri }}"></input>

	<fieldset class="col-md-8">
		<legend>Imagens</legend>

		<ul class="image-organizer">
			{% for image in project.images %}

				<li class="col-md-4">
					<img src="{{ constant('BASE') }}uploads/projects/{{ project.uri }}/{{ image }}" width="100%" height="auto" title="{{ image }}" alt="{{ image }}" />

					<div class="options">

{# 						<a class="btn btn-warning btn-xs">
							<span class="glyphicon glyphicon-pencil"></span>
						</a> #}

						<a href="{{ urlFor('images-delete') }}projects/{{ project.id }}/{{ image }}" class="btn btn-danger btn-xs">
							<span class="glyphicon glyphicon-remove"></span>
						</a>

					</div>
				</li>

			{% endfor %}

			<li class="col-md-4 add">
				<div class="wrapper">

			  	<label class="btn btn-success">
			  		Adicionar
			  		<input type="file" name="uploads[]" multiple="multiple"></input>
			  	</label>

				</div>
			</li>
		</ul>

	</fieldset>
</form>

{% endblock %}

{% block js_inc %}
<script>

	$('input[type="file"], select').change(function() {
  	$(this).parents('form').submit();
	});

	if ($('a[data-dismiss="alert"]')) {
		$('#alert_container').delay(1200).fadeOut(300);

		setTimeout(function() {
			$('a[data-dismiss="alert"]').click();
		}, 1500);

	};

</script>
{% endblock %}