{% extends 'base/layout.twig' %}

{% block header_inc %}
<style>
select { width: 100%; }
</style>
{% endblock %}

{% block content %}

<form
	id="projectUpdate"
	role="form"
	method="post"
	action="{{ urlFor('projects-create-save') }}"
>

	<fieldset class="col-md-4">
		<legend>Novo projecto</legend>

		<div class="form-group">
		  <label for="title">Título</label>
		  <input type="text" name="title" class="form-control" placeholder="Título" value="">
		  <input type="text" name="title_en" class="form-control" placeholder="Título EN" value="">
		</div>

		<div class="form-group">
		  <label for="title">Descrição</label>
		  <textarea rows="7" class="form-control" name="description" placeholder="Descrição"></textarea>
		  <textarea rows="7" class="form-control" name="description_en" placeholder="Descrição EN"></textarea>
		</div>

		<div class="form-group">
			<label>Categoria</label>
		  <select class="form-control" name="category">
		    {% for i in categories %}
		      <option value="{{ i.id}}">{{ i.title}}</option>
		    {% endfor %}
		  </select>
		</div>

		<p><strong>Nota:</strong> Para adicionar imagens, insira um título e grave.</p>

		<div class="row">
			<div class="col-md-9">
				<button type="submit" class="btn btn-primary">Guardar</button>
				<a
					href="{{ urlFor('projects') }}"
					class="btn btn-default">
					Voltar
				</a>
			</div>
		</div>

	</fieldset>
</form>

{% endblock %}

{% block js_inc %}
<script>

	if ($('a[data-dismiss="alert"]')) {
		$('#alert_container').delay(97000).fadeOut(300);

		setTimeout(function() {
			$('a[data-dismiss="alert"]').click();
		}, 10000);

	};

	$('#projectUpdate').on('submit', function(e) {
		var form = $(this);

		if ($('input[name="title"]').val() == "") {
			e.preventDefault();

			$('input[name="title"]').focus();
		} else {
			return;
		}

	});

</script>
{% endblock %}