.navbar-brand {
    padding: 0px 15px 0px 15px;
}

.va-parent {
    display: table;
    height: 100%;
}

.va-child {
    display: table-cell;
    vertical-align: middle;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    vertical-align: middle;
    text-align: center;
}

.center {
    text-align: center;
}

.clear {
    display: block;
    position: absolute;
    right: 25px;
    line-height: 6em;
    color: #b1b1b1;
}

body {
    overflow-y: scroll;
    padding-top: 50px;
}

body.modal {
    overflow: hidden;
}

.table>thead>tr>th[ng-click] {
    cursor: pointer;
}

.table>thead>tr>th[ng-click]:hover {
    background: #F3F3F3;
}

.progress {
    margin-top: 15px;
    margin-bottom: 0px;
}

.alert {
    float: left;
    width: 100%;
}

#alert {
    position: fixed;
    z-index: 9999;
    width: 50%;
    top: 160px;
    margin: 0 auto;
    left: 0px;
    right: 0px;
}

.table {
    /*min-height: 407px;*/
}

.pagination {
    margin: 0 auto;
    display: table;
    padding-bottom: 20px;
}

.table.left>tbody>tr>td,
.table.left>tbody>tr>th,
.table.left>tfoot>tr>td,
.table.left>tfoot>tr>th,
.table.left>thead>tr>td,
.table.left>thead>tr>th {
    text-align: left;
}

.table>tbody>tr>td.center,
.table>tbody>tr>th.center,
.table>tfoot>tr>td.center,
.table>tfoot>tr>th.center,
.table>thead>tr>td.center,
.table>thead>tr>th.center {
    text-align: center;
}

.datepicker table {
    width: 100%;
}

.datepicker th button {
    width: 100%;
}

.datepicker .btn-info.active span {
    color: #ffffff;
}

.btn-group {
    margin: 0 auto;
    text-align: center;
    display: table;
}

.modal {
    display: block;
    overflow: auto;
}

.modal-dialog.dragndrop {
    width: 760px;
}

.modal-content {
    padding: 0px;
    margin-bottom: 30px;
}

.modal-thumbnail {
    max-height: 140px;
    max-width: 100%;
    width: auto;
    display: table;
    left: 0px;
    right: 0px;
    float: none;
    margin-left: auto;
    margin-right: auto;
}

/* drag&drop */
/**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */
.dnd ul[dnd-list],
.dnd ul[dnd-list] > li {
    position: relative;
}

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.dnd ul[dnd-list] {
    margin: 0px;
    padding: 0px;
    min-height: 92px;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
.dnd ul[dnd-list] .dndDraggingSource {
    display: none;
    width: 72px;
    height: 72px;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
.dnd ul[dnd-list] .dndPlaceholder {
    display: inline-block;
    background-color: #ddd;
    min-height: 42px;
    width: 72px;
    height: 72px;
    position: relative;
}

/**
 * The dnd-lists's child elements currently MUST have
 * position: relative. Otherwise we can not determine
 * whether the mouse pointer is in the upper or lower
 * half of the element we are dragging over. In other
 * browsers we can use event.offsetY for this.
 */
.dnd ul[dnd-list] li {
/*    background-color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;*/
    display: inline-block;
    padding: 10px;
    margin: 0px 5px;
    position: relative;
}

/**
 * Show selected elements in green
 */
.dnd ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
    width: 72px;
    height: 72px;
}

.item-thumbnail {
    background-size: 100%;
    background-repeat: no-repeat;
    display: block;
    width: 50px;
    height: 50px;
}

.item-label {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
    color: #000;
}

.dragndrop .category {
    padding: 10px;
}

.dragndrop .category ul {
    border-radius: 5px;
    background: #F9F9F9;
    padding: 10px 5px 5px 5px;
    margin-top: 10px;
}

.btn-left {
    float: left;
}

textarea {
    min-height: 150px;
}

.f-left {
    float: left;
}

/*tr, th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}*/

/*.navbar-inverse {
    background: #ffc000;
    border-color: #ffc000;
}

.navbar-inverse .navbar-nav>li>a {
    background: #ffc000;
    color: #fff;
}

.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
    background: #ffc000;
    color: #de9000;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    background: #ffc000;
    color: #de9000;
}*/

.table.rebate>tbody>tr>td {
    vertical-align: top;
}

.faded { color: #7E7E7E; }

#preloader {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #000000;
    z-index: 99;
    text-align: center;
}

/* vertial align */
.va-parent { display: table; width: 100%; height: 100%; }
.va-parent-inline { display: inline-table; }
.va-child { display: table-cell; vertical-align: middle; float: none; }

/* reticencias */
.truncated {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

input.form-control {
    padding-right: 30px !important;
}