<div class="modal">
    <div class="modal-dialog">
        <form
            class="modal-content col-md-12"

            name="form"
            ng-submit="submit(form.$valid, input)"
            novalidate
            autocomplete="off">

            <div class="modal-header col-md-12">
                <button type="button" class="close" ui-sref="users" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Criar utilizador</h4>
            </div>

            <div class="modal-body col-md-12">
                <div class="form-group col-md-6">
                    <label>Nome</label><br/>
                    <input
                        class="form-control"
                        type="text"

                        name="name"
                        ng-model="input.name"

                        required
                        ng-minlength="0"
                    /></input>
                    <span
                        class="help-block"
                        ng-show="
                            form.name.$invalid &&
                            form.name.$touched
                        ">
                        Nome inválido
                    </span>
                </div>
                <div class="form-group col-md-6">
                    <label>Idade</label><br/>
                    <input
                        class="form-control"
                        type="number"

                        name="age"
                        ng-model="input.age"

                        required
                        ng-minlength="0"
                    /></input>
                    <span
                        class="help-block"
                        ng-show="
                            form.age.$invalid &&
                            form.age.$touched
                        ">
                        Idade inválida
                    </span>
                </div>
            </div>

            <div class="modal-footer col-md-12">

                <span class="btn btn-default" ui-sref="users">Fechar</span>
                <button
                    type="submit"
                    class="btn btn-primary"
                    ng-disabled="form.$invalid">Criar</button>
            </div>
        </form>

    </div>
</div>