@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-c2s70o');
	src:url('fonts/icomoon.eot?#iefix-c2s70o') format('embedded-opentype'),
		url('fonts/icomoon.woff?-c2s70o') format('woff'),
		url('fonts/icomoon.ttf?-c2s70o') format('truetype'),
		url('fonts/icomoon.svg?-c2s70o#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-previousNarrow:before {
	content: "\e608";
}
.icon-nextNarrow:before {
	content: "\e607";
}
.icon-facebook:before {
	content: "\e603";
}
.icon-square:before {
	content: "\e602";
}
.icon-next:before {
	content: "\e606";
}
.icon-previous:before {
	content: "\e604";
}
.icon-linkedin:before {
	content: "\e605";
}
.icon-nextLight:before {
	content: "\e601";
}
.icon-previousLight:before {
	content: "\e600";
}
