<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="pt" />
    <meta name="format-detection" content="telephone=no" />
    <title>Microsoft</title>

    <style type="text/css">
        #outlook a { padding: 0; }
        body{ width: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; margin: 0; padding: 0; }
    </style>

</head>
<body style="background:#FFFFFF;font-family:Tahoma,sans-serif;margin:0;padding:0;">

    <table width="650" border="0" cellspacing="0" cellpadding="20" align="center">
        <tr>
            <td>

                <table style="background:#1c8eca;" width="650" border="0" cellspacing="0" cellpadding="0" align="center">
                    <tr>
                        <td>

                            <!-- Header -->
                            <table width="100%" height="auto" border="0" cellspacing="0" cellpadding="0" align="center">
                                <tr>
                                    <td width="100%">
                                        <a target="_blank" href="http://bit.ly/Office365_Empresas" style="display:block;text-decoration:none;margin:0;padding:0;">
                                            <img src="http://work.emergency-agency.com/microsoft/newsletter/office-365/img/banner-2.jpg" width="650" height="186" alt="A sua empresa mais móvel e produtiva a partir de 4,20€ mensais" border="0" style="display:block;" />
                                        </a>
                                    </td>
                                </tr>
                            </table>

                            <!-- Content -->
                            <table width="100%" height="auto" border="0" cellspacing="0" cellpadding="0" align="center" style="font-family:Tahoma,sans-serif;margin:0;padding:0;color:#FFFFFF;">
                                <tr>
                                    <td height="40">&nbsp;</td>
                                </tr>

                                <tr>
                                    <td style="font-size: 30px; text-align: center;">
                                        Formulário submetido:
                                    </td>
                                </tr>

                                <tr>
                                    <td height="30">&nbsp;</td>
                                </tr>

                                <tr>
                                    <td>
                                        <table width="100%" height="auto" border="0" cellspacing="0" cellpadding="0" align="left" style="font-family:Tahoma,sans-serif;margin:0;padding:0;color:#FFFFFF;">
                                            <tr>
                                                <td width="25"></td>
                                                <td width="600" style="text-align: center; line-height: 1.5; font-size: 17px;">
                                                    Nome: {{ form.name }}<br/>
                                                    E-mail: {{ form.email }}<br/>
                                                    Telefone: {{ form.phone }}<br/>
                                                    Empresa: {{ form.enterprise }}
                                                </td>
                                                <td width="25"></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                                <tr>
                                    <td height="30">&nbsp;</td>
                                </tr>

                                <tr>
                                    <td align="center">
                                       <img src="http://work.emergency-agency.com/microsoft/newsletter/office-365/img/separator.jpg" width="600" height="1" border="0" style="display:block;" />
                                    </td>
                                </tr>

                                <tr>
                                    <td height="20">&nbsp;</td>
                                </tr>

                            </table>

                            <!-- Footer -->
                            <table width="100%" height="auto" border="0" cellspacing="0" cellpadding="0" align="center" style="font-family:Tahoma,sans-serif;margin:0;padding:0;color:#9ed1ec; font-size: 12px;">
                                <tr>
                                    <td width="25"></td>
                                    <td width="275" align="left">
                                        © Microsoft 2015 - Todos os direitos reservados
                                    </td>
                                    <td width="275" align="right">
                                        <a target="_blank" href="http://www.microsoft.com/pt-pt" target="_b" style="display:inline-block;text-decoration:none;margin:0;padding:0; color:#fff;text-decoration:underline;font-weight:bold;">
                                            <img src="http://work.emergency-agency.com/microsoft/newsletter/office-365/img/logo-ms.png" width="114" height="25" border="0" style="display:block;" />
                                        </a>
                                    </td>
                                    <td width="25"></td>
                                </tr>

                                <tr>
                                    <td height="20" colspan="3">&nbsp;</td>
                                </tr>
                            </table>

                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>

</body>
</html>