<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">
                <span class="va-parent">
                    <span class="va-child">
                        <img ng-src="{{ CONSTANTS.IMG }}/logo2.png" style="width: 25px;"/>
                    </span>
                </span>
            </div>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav" ng-show="admin">
                <li ng-class="{ active: section.main == 'users' }">
                    <a href="#" ui-sref="users">
                        <span class="glyphicon glyphicon-user"></span> Utilizadores
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right" ng-show="admin">
                <li>
                    <a href="" target="_parent">{{ admin.name }}</a>
                </li>
                <li>
                    <a href="#" ui-sref="admin.signout">
                        Sair
                    </a>
                </li>
            </ul>
        </div>

    </div>
</nav>