{% extends 'base/layout.twig' %}

{% block container %}
	<div class="products" id="edit">
  
    <div class="products-list">
      <table>
        <thead>
          <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Marca</th>
            <th>Categoria</th>
            <th>Fornecedor</th>
            <th>Acções</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <form method="post" action="{{ constant("BASE")}}products/edit/{{id}}">
              <td><input type="text" name="name" value="{{ products.name }}"></input></td>
              <td><input type="text" name="description" value="{{ products.description }}"></input></td>
              
              <td>
              <select name="products_brand">
                {% for i in brands %}
                  <option value="{{ i.id}}" {% if i.id == products.brand %} selected="selected"{% endif %}>{{ i.name}}</option>
                {% endfor %}
              </select>
              </td>
              <td>
              <select name="products_category">
                {% for i in categories %}
                  <option value="{{ i.id}}" {% if i.id == products.category %} selected="selected"{% endif %}>{{ i.name}}</option>
                {% endfor %}
              </select>
              </td>
              <td>
              <select name="products_supplier">
                {% for i in suppliers %}
                  <option value="{{ i.id}}" {% if i.id == products.supplier %} selected="selected"{% endif %}>{{ i.name}}</option>
                {% endfor %}
              </select>
              </td>

              <td><button href="">Guardar</button> <a href="{{ urlFor('products-search') }}" class="btn-cancel">Cancelar</a></td>
            </form>
            </tr>
        </tbody>
      </table>
    </div>
	</div>

{% endblock %}

{% block javascript_block %}
  {% if success is defined %}
    <script>
      {% if success %}
        $('.message').css('background', '#00b900');
        $('.message').animate({ opacity: 0 }, 1500);
      {% else %}
        $('.message').css('background', '#a10000');
        $('.message').animate({ opacity: 0 }, 1500);
      {% endif %}
    </script>
  {% endif %}
{% endblock %}