{% extends 'base/layout.twig' %}

{% block container %}
	<section class="products" id="search">

    <div class="products-search">
      <form method="get" action="{{ constant('BASE') }}products/search/">
        <label for="products-search-input-terms">Search terms</label>
        <input type="text" name="terms" id="products-search-input-terms"></input>
        <button>Search</button>
      </form>
    </div>
  
    <div class="products-list">
      <table>
        <thead>
          <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Marca</th>
            <th>Categoria</th>
            <th>Fornecedor</th>
            <th>Acções</th>
          </tr>
        </thead>
        <tbody>
          {% for i in products_holder %}
          <tr>
            <td>{{ i.name }}</td>
            <td>{{ i.description }}</td>
            <td>{{ i.q_brand }}</td>
            <td>{{ i.q_category }}</td>
            <td>{{ i.q_supplier }}</td>
            <td>
              <a href="{{ constant('BASE') }}products/edit/{{i.id}}" target="_self" class="btn-modify">Modificar</a>
              <a href="{{ constant('BASE') }}products/remove/{{i.id}}" target="_self" class="btn-remove">Apagar</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="products-add">
      <form method="post" action="{{ constant('BASE') }}products/add/{{i.id}}">
        <tbody>
          <tr>
            <td>
              <label for="products-add-input-name">Add new item</label>
              <input type="text" name="name" id="products-add-input-name" placeholder="Name"></input>
            </td>
            <td><input type="text" name="description" placeholder="Description"></input></td>
            <td>
              <select name="brand">
              <option>Seleccione</option>
              {% for i in brands %}
                <option value="{{ i.id}}" {% if i.id == products.supplier %} selected="selected"{% endif %}>{{ i.name}}</option>
              {% endfor %}
              </select>
            </td>
            <td>
              <select name="category">
              <option>Seleccione</option>
              {% for i in categories %}
                <option value="{{ i.id}}">{{ i.name}}</option>
              {% endfor %}
              </select>
            </td>
            <td>
              <select name="supplier">
              <option>Seleccione</option>
              {% for i in suppliers %}
                <option value="{{ i.id}}">{{ i.name}}</option>
              {% endfor %}
              </select>
            </td>
            <td><button>Adicionar</button></td>
          </tr>
        </tbody>
      </form>
    </div>
  </div>

{% endblock %}

{% block javascript_block %}
  {% if success is defined %}
    <script>
      {% if success %}
        $('.message').css('background', '#00b900');
        $('.message').animate({ opacity: 0 }, 1500);
      {% else %}
        $('.message').css('background', '#a10000');
        $('.message').animate({ opacity: 0 }, 1500);
      {% endif %}
    </script>
  {% endif %}
{% endblock %}