/* vertial align */
@mixin va-parent { display: table; }
@mixin va-child { display: table-cell; vertical-align: middle; }

/* truncated */
@mixin truncated { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }