<div ng-controller="gitC">
  <form
    name="form"
    ng-submit="submit(form.$valid, input.username)"

    novalidate
  >
    <label>
      <input
        type="text"
        name="username"

        ng-model="input.username"

        required
        ng-minlength="1"

        ng-class="{ error: form.username.$invalid }"
        ng-copy="copy = 'foi copiado: ' + input.username "
      />
      <span
        class="clear"
        ng-model="input.username"
        ng-click="input.username = ''"
      >&times;</span>
    </label>

    <p>{{ copy }}</p>
    <p>{{ paste }}</p>

    <button
      type="submit"
      ng-disabled="form.$invalid"
    >Submeter</button>

  </form>

  <div ng-show="user">
    <p>Utilizador:</p>
    <ul>
      <li> <img ng-src="{{ user.avatar_url }}" style="width:200px;"/> </li>
      <li> <strong>Nome:</strong> {{ user.login }} </li>
      <li> <strong>Localização:</strong> {{ user.location }} </li>
      <li> <strong>Criado em:</strong> {{ user.created_at | date }} </li>
      <li> <a ng-href="{{ user.html_url }}" target="_blank">Perfil</a> </li>
    </ul>

    <div ng-show="user.repos.length > 0">
      <form
        name="form_two"
        novalidate
      >

        <label>
          <span>Filtrar </span>
          <select
            name="repo_select"
            ng-model="input.filter"
            ng-change="input.repo_search = {}"
            ng-init="input.filter = 'name'"
          >
            <option value="name">Nome</option>
            <option value="language">Linguagem</option>
          </select>

          <span>por:</span>
          <input
            type="text"
            name="repo"

            ng-model="input.repo_search[input.filter]"

            required
            ng-minlength="1"

            ng-class="{ error: form_two.repo.$invalid }"
          />
          <span
            class="clear"
            ng-model="input.repo_search"
            ng-click="input.repo_search = ''"
          >&times;</span>
        </label>

        <table ng-show="input.filter">
          <thead>
            <tr>
              <td ng-click="input.orderBy = 'name'; input.reverse = !input.reverse "><strong>Nome</strong></td>
              <td ng-click="input.orderBy = 'watchers'; input.reverse = !input.reverse "><strong>Watchers</strong></td>
              <td ng-click="input.orderBy = 'language'; input.reverse = !input.reverse "><strong>Linguagem</strong></td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in user.repos | filter: input.repo_search | orderBy: input.orderBy:input.reverse ">
              <td>{{ item.name }}</td>
              <td>{{ item.watchers }}</td>
              <td>{{ item.language }}</td>
            </tr>
          </tbody>
        </table>

      </form>
    </div>
  </div>

</div>