<!DOCTYPE html>
<html ng-app="app">

  <head>
    <meta charset="UTF-8">
    <script data-require="angular.js@1.4.1" data-semver="1.4.1" src="https://code.angularjs.org/1.4.1/angular.js"></script>
    <script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>
    <script src="script.js"></script>

    <link rel="stylesheet" href="styles.css">
  </head>

  <body>

  <nav>
    <ul>
      <li ui-sref="home" ng-class="{ active: name == 'home' }"> home </li>
      <li ui-sref="gitfinder" ng-class="{ active: name == 'gitfinder' }"> gitfinder </li>
      <li ui-sref="template" ng-class="{ active: name == 'template' }"> template </li>
    </ul>
  </nav>

  <h1>{{ title }}</h1>

  <section ui-view></section>

  </body>

</html>