<div ng-controller="templateC as template">

  <label>
    <input
      type="text"
      ng-model="model1"
    ></input>
    <span
      class="clear"
      ng-model="model1"
      ng-click="model1 = ''"
    >&times;</span>

    <div ng-bind="model1"></div>
  </label>

  <label>
    <select
      name="select_freguesias"
      ng-model="freguesia_selected"
      ng-options="item.nome for item in template.freguesias track by item.id"
    >
      <option value="">Escolha uma freguesia</option>
    </select>
    <span ng-bind="freguesia_selected.desc"></span>
  </label>

  <div>
    <ul>
      <li ng-repeat="item in template.freguesias track by item.id">
        <span>{{ item.id }}</span><br/>
        <span>Nome: <strong>{{ item.nome | titleCase }}</strong></span><br/>
        <span><em>{{ item.desc | titleCase }}</em></span><br/>
      </li>
    </ul>
  </div>

</div>