#categories {

	.container {
		height: 100%;
		// top: 10%;
		overflow: auto;
	}

	a { display: block; top: 10%; height: 90%; }


	a:nth-child(2n+0) { z-index: 1; }

	figure {
		height: 100%;

		&:hover {
			img {
				transform: translateX(-20%);
			}

			figcaption {
				color: $color-csa-red;
			}
		}

		>div { height: 100%; overflow: hidden; }

		img {
			height: 90%;
			width: auto;
			position: absolute;
			transition: all 0.5s;
		}

		figcaption {
			@include figcaption;
			top: 90%;
		}
	}

}