#category, #about {

	.container {
		height: 85%;
		top: 10%;
		overflow: auto;
	}

	figure {
		overflow: hidden;
		height: 100%;
		float: left;
		padding-left: 30px;

		img {
			min-width: 100%;
			min-height: 100%;
			width: 100%;
			float: left;
		}
	}

	figcaption {
		@include figcaption;
		top: 0px;
		width: auto;
		min-width: 30%;
		padding: 20px;
	}

	p { float: left; padding-left: 30px; padding-top: 20px; }

	nav, #content {
		padding-left: 4em;

		ul li {
			cursor: pointer;
			font-size: 1.2em;
			width: 40%;
			margin: 0px 0em 0px 0em;

			a {
				float: left;
				width: 100%;
				color: $color-black;
				padding: 1em 0em 0.7em 1em;
				border-bottom: 1px solid $color-csa-grey;
			}

			&:first-child { padding-top: 0px; }

			&:hover {
				a { color: $color-csa-red; }
			}
		}
	}

	p {
		float: left;
		text-align: left;
		width: 100%;
		font-size: 1.4em;
		$pd: 1em;
		padding: $pd 0 $pd 0;
		line-height: 1.4em;

		a { color: $color-black; border-bottom: 1px solid $color-black; }
	}

	ul {

		li {
			// list-style: disc;
			list-style-position: inside;
			font-size: 1.4em;

			&:after, &:before { content: initial; overflow: visible; }
		}
	}

}