.container.generic {

	// @include va-parent;
	padding-top: 20px;
	max-width: 90%;
	margin: 0 auto;
	overflow: auto;
	height: 100%;

	.center {
		@include va-child;
	}

	.content {
		padding: 1em;
	}

	p {
		float: left;
		text-align: left;
		width: 100%;
		font-size: 1.4em;
		$pd: 1em;
		padding: $pd 0 $pd 0;
		line-height: 1.4em;

		a { color: $color-black; border-bottom: 1px solid $color-black; }
	}

	ul {

		li {
			list-style: disc;
			list-style-position: inside;
			font-size: 1.4em;

			&:after, &:before { content: initial; overflow: visible; }
		}
	}

}

#about {

	p { padding-bottom: 0px; }

	.content {
		padding-left: 30px;

		li {
			float: left;
			text-align: left;
			width: 100%;
			line-height: 1.4em;
			list-style-type: disc;
		}

		ul {
			padding-top: 1em;
			float: left;
		}
	}
}