#projects {

	.container {
		height: 85%;
		top: 10%;
		float: left;
		overflow: auto;

		>div {
		}
	}

	article {
		height: auto;
		border: 1px solid $color-white;
		overflow: hidden;

		&:hover {
			h1 { color: $color-black; background: $color-white; }
			.background { transform: scale(1.05); }
		}

		h1 {
			@include figcaption;
			background: rgba(0, 0, 0, 0.6);
			box-shadow: none;
			text-align: left;
			margin: 10px;
			line-height: 1.5;
		}

		.background {
		  height: 100%;
		  width: 100%;
		  position: absolute;
		  top: 0px;
		  left: 0px;
		  z-index: 0;
		  transition: transform 0.2s;
		}
	}

}