#project {

	.container {
		height: 85%;
		top: 10%;
		float: left;
		overflow: auto;
	}

	.gallery {
		height: 100%;
		overflow: hidden;
	}

	.description {
		padding-left: 50px;
		font-size: 1.2em;
		padding-right: 50px;

		h1 {
			padding: 0px 0px 0.5em 0px;
			border-bottom: 1px solid $color-csa-grey;
			color: $color-csa-red;
		}

		h2 {
			padding-top: 1em;
			line-height: 1.5em;
		}
	}

	.slides-navigation {
		right: 20px;
		bottom: 20px;
		height: auto;
		top: initial;

		a {
			float: right;
			left: initial;
			right: initial;
			position: relative;
			width: auto;

			span {
				font-size: 0.6em;
			}
		}

	}

}