<header class="middle-parent">
	<a href="{{ urlFor('projects') }}" target="_self" class="middle"><h1>CSA Admin</h1></a>

	{% if logged == yes %}
		<a href="{{ urlFor('logout') }}" target="_self" class="middle">Encerrar Sessão</a>
	{% endif %}
</header>
