<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

        <div class="navbar-collapse collapse">
            <a href="{{ urlFor('logout') }}" class="navbar-text navbar-link pull-right" title="Logout"><span class="glyphicon glyphicon-off"></span></a>
            <p class="navbar-text pull-right">Bem-vindo CSA Admin</p>
            <ul class="nav navbar-nav">

                <li class="{{ area=='banners'?'active':'' }}"><a href="{{ urlFor('banners') }}">Banners</a></li>
                <li class="{{ area=='categories'?'active':'' }}"><a href="{{ urlFor('categories') }}">Categorias</a></li>
                <li class="{{ area=='projects'?'active':'' }}"><a href="{{ urlFor('projects') }}">Projectos</a></li>
                <li class="{{ area=='areas'?'active':'' }}"><a href="{{ urlFor('areas') }}">Áreas</a></li>

            </ul>
        </div>
    </div>
</div>