<div>

    <div class="page-header">
        <h1>Utilizadores
            <small ng-show="users.list.length > 0">{{ users.list.length }} resultado<span ng-show="users.list.length > 1">s</span></small>
        </h1>
    </div>

    <div class="col-md-8">
        <div class="table-responsive">
            <table
                class="table table-striped left"
                ng-init="users.input.orderBy = 'id'; users.input.reverse = false;">
                <thead>
                    <th class="center" ng-click="users.input.orderBy = 'id'; users.input.reverse = !users.input.reverse">#</th>
                    <th class="center" ng-click="users.input.orderBy = 'name'; users.input.reverse = !users.input.reverse">Nome</th>
                    <th class="center" ng-click="users.input.orderBy = 'age'; users.input.reverse = !users.input.reverse">Idade</th>
                    <th class="center">Ver</th>
                    <th class="center">Editar</th>
                </thead>

                <tbody cellspacing="0" cellpadding="0"
                    ng-show="users.list.length > 0"
                    ng-init="users.input.orderBy = 'id'; users.input.limit = 10">
                    <tr
                        dir-paginate="item in listFiltered = (users.list | filter: users.input.query | orderBy: users.input.orderBy:users.input.reverse | itemsPerPage: users.input.limit ) track by item.id"
                        ng-class="{ danger: item.active == 0 } ">
                        <td class="center" style="opacity: 0.5;">{{ item.id }}</td>
                        <td class="center">{{ item.name }}</td>
                        <td class="center">{{ item.age }}</td>
                        <td class="center">
                            <a class="btn" ui-sref="users.detail({ users_id: item.id })">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </a>
                        </td>
                        <td class="center">
                            <a class="btn" ui-sref="users.edit({ users_id: item.id })">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-12" dir-pagination-controls
            [template-url="app/directives/angularUtils/dirPagination.tpl.html"]>
        </div>

        <div class="alert alert-warning" role="alert" ng-hide="users.list.length > 0">
            Não existem utilizadores disponíveis.
        </div>
    </div>

    <div class="col-md-4">

        <!-- side filter -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-filter"></span>
                <strong>&nbsp;Filtrar</strong> Lojas
            </div>
            <div class="panel-body">

                <form
                    name="queryForm"
                    novalidate
                    autocomplete="off">

                    <div class="form-group col-md-12">
                        <label>Tudo</label><br/>
                        <input
                            class="form-control"
                            type="text"

                            name="all"
                            ng-model="users.input.query.$"
                        /></input>
                        <span
                            class="clear glyphicon glyphicon-remove"
                            ng-model="users.input.query.$"
                            ng-click="users.input.query.$ = ''"
                            ng-show="users.input.query.$.length > 0"
                        ></span>
                    </div>

                    <div class="form-group col-md-6">
                        <label>Nome</label><br/>
                        <input
                            class="form-control"
                            type="text"

                            name="name"
                            ng-model="users.input.query.name"
                        /></input>
                        <span
                            class="clear glyphicon glyphicon-remove"
                            ng-model="users.input.query.name"
                            ng-click="users.input.query.name = ''"
                            ng-show="users.input.query.name.length > 0"
                        ></span>
                    </div>

                    <div class="form-group col-md-6">
                        <label>Idade</label><br/>
                        <input
                            class="form-control"
                            type="text"

                            name="age"
                            ng-model="users.input.query.age"
                        /></input>
                        <span
                            class="clear glyphicon glyphicon-remove"
                            ng-model="users.input.query.age"
                            ng-click="users.input.query.age = ''"
                            ng-show="users.input.query.age.length > 0"
                        ></span>
                    </div>

                    <div class="form-group col-md-6">
                        <label>Mostrar</label><br/>
                        <select
                            class="form-control"

                            name="limit"
                            ng-model="users.input.limit">
                            <option value="">Todos</option>
                            <option value="10" selected="selected">10</option>
                            <option value="20">20</option>
                            <option value="40">40</option>
                            <option value="80">80</option>
                        </select>
                    </div>

                    <div class="form-group col-md-6">
                        <label>Activos</label><br/>
                        <select
                            class="form-control"

                            name="active"
                            ng-model="users.input.query.active"
                        >
                            <option value="">--</option>
                            <option value="1">Sim</option>
                            <option value="0">Não</option>
                        </select>
                    </div>
                </form>

            </div>
        </div>

        <!-- side create -->
        <div class="panel panel-default">

            <div class="panel-heading">
                <span class="glyphicon glyphicon-folder-open"></span>
                <strong>&nbsp;Ações</strong>
            </div>

            <div class="panel-body">
                <button
                    class="btn btn-block btn-default"
                    type="button"
                    ui-sref="users.create">
                    Criar utilizador
                </button>
            </div>
        </div>

    </div>

    <div ui-view></div>

</div>