html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

* { position: relative; }

.grid-container {
    width: 100%;
    height: 100%;
    display: table;
}

img {
    width: 100%;
    height: auto;
}

#container {
    bottom: 0px;
    left: 0px;
    width: 100%;
    display: table-cell;
    vertical-align: middle;

    #container-two {
        position: fixed;
        width: 100%;
    }

    #carro {
        // width: 468px;
        // width: 20%;
        // width: 30%;
        width: 20%;
        height: auto;
        position: absolute;
        bottom: 25%;
        left: 0%;

        backface-visibility: hidden;
        transform-style: preserve-3d;
        transform: translate3d(0, 0, 1px);
    }

    #estrada {
        width: 100%;
        height: auto;
        left: 0px;
        top: 0px;
    }

}