{% extends 'base/layout.twig' %}
{% block header_inc %}
	<style>
		#fourOfour{margin:100px 0}
		h1{text-align:center}
	</style>
{% endblock %}

{% block seo_inc %}
    <title>404</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
{% endblock %}

{% block content %}
    <div id="fourOfour" class="F100">
		<h1 class="F100">Página não encontrada.</h1>
    </div>
{% endblock %}