{% extends 'base/layout.twig' %}

{% block section %}

	<p class="identifier" id="{{ object.id }}">ID: {{ object.id }}</p>

	<form action="{{ urlFor('update') }}" method="post" id="update">
	<table width="800" border="0" cellspacing="0" align="center" cellpadding="0" id="object" style="background-color:#f2f2f2;">

	{% for key, value2 in object.content %}

		<tr id="row-{{ loop.index }}">
		{% for key2, value2 in object.content[key] %}
			<td width="50" height="75">
				<input type="text" value="{{ key2 }}" />
			</td>
			<td width="240" height="75">
				<textarea>{{ value2 }}</textarea>
			</td>
		{% endfor %}
			<td width="10" height="75">
				<div class="btn delete">DEL</div>
			</td>
		</tr>

	{% endfor %}

	</table>

	<table width="800" border="0" cellspacing="0" align="center" cellpadding="0"  style="background-color:#f2f2f2;">
	<tr>
		<td width="800" height="75" align="center">
			<div class="btn add">ADD</div>
		</td>
	</tr>
	</table>

	<div class="wrapper">
		<p>
			<button>Update JSON</button>
		</p>
	</div>

</form>

{% endblock %}