/* Default CSS */
html, body, div, pre, form, fieldset, input, h1, h2, h3, h4, h5, h6, p, textarea, ul, ol, li, dl, dt, dd, blockquote, th, td, abbr, article, aside, audio, canvas, details, figcaption, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, summary, time, video { margin: 0; padding: 0; }

table { border-collapse: collapse; border-spacing: 0; }

fieldset, img { border: 0; }

address, caption, cite, code { font-style: normal; font-weight: normal; }

ul { list-style: none; }

caption, th { text-align: left; }

h1, h2, h3, h4, h5, h6 { font-size: 16px; font-weight: normal; }

q:before, q:after { content: ''; }

abbr, acronym { border: 0; }

a { outline: none; text-decoration: none; }

a img { border: none; }

:focus { outline: none; }

body, html { width: 100%; height: 100%; overflow: visible; font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif; font-size: 12px; color: #000; }

.grid-container { max-width: 100%; padding: 0; height: 100%; margin: 0 auto; overflow: hidden; }

/* Main CSS */
header { position: fixed; width: 150px; height: auto; z-index: 3; }
header nav a { float: left; width: 30px; height: 30px; text-align: center; }

#viewport { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; z-index: 1; }
#viewport #scroll { position: absolute; top: 0%; left: 0%; width: 100%; height: 100%; }
#viewport #scroll section { position: absolute; width: 100%; height: 100%; }
#viewport #scroll section:nth-child(1) { left: 0%; }
#viewport #scroll section:nth-child(2) { left: 100%; }
#viewport #scroll section:nth-child(3) { left: 200%; }
#viewport #scroll section:nth-child(4) { left: 300%; }
#viewport #scroll section:nth-child(5) { left: 400%; }
#viewport #scroll section .top, #viewport #scroll section .bottom { float: left; width: 100%; height: 100%; font-size: 500px; text-align: center; display: table; }
#viewport #scroll section .top p, #viewport #scroll section .bottom p { display: table-cell; vertical-align: middle; }
#viewport #scroll section .top { top: 0%; background: #fff; }
#viewport #scroll section .bottom { top: 100%; background: #b1b1b1; }
#viewport .R { position: absolute; top: 100%; left: 0px; width: 100%; height: 100%; background-color: #999; font-size: 500px; text-align: center; z-index: 2; }
#viewport .N { position: absolute; top: 100%; left: 0px; width: 100%; height: 100%; background-color: #999; font-size: 500px; text-align: center; z-index: 2; }
