#menu {
    background: none;

    header {
        background: $color_orange;
        height: 70px;

        > div {
            height: 100%;
        }

        .logo {

            &.montepio {
                img {
                    max-width: 210px;
                }
            }

            &.ativ {
                img {
                    max-width: 102px;
                }
            }
        }
    }

    ul {
        background: #f9f7f1;
        height: 135px;
        padding: 5px;

        li {
            width: 16.666%;
            background: #f2f0e7;
            // border-right: 1px;
            // border-left: 1px;

            > div {
                width: 100%;
                text-align: center;
            }

            figure {
                width: 100%;

                img {
                    height: 50px;
                }
            }

            span {
                width: 100%;
                text-align: center;
                color: $color_blue;
                font-size: 1.6em;
            }

            .simple { max-width: 35px; }
            .complete { max-width: 50px; }
            .history { max-width: 30px; }
            .settings { max-width: 40px; }
            .profile { max-width: 30px; }
            .montepio { max-width: 40px; }
        }
    }
}