<div>
    <ul>
        <li ng-repeat="item in products.list">
            <ul>
                <li>
                    {{ item.id }}
                </li>
                <li>
                    {{ item.name }}
                </li>
                <li>
                    {{ item.timestamp*1000 | date:longDate }}
                </li>
            </ul>
        </li>
    </ul>
</div>