<div>
    <span>Users</span>
    <ul>
        <li ng-repeat="item in users track by item.login">
            <a ng-href="#/user/detail/{{ item.login }}">{{ item.login }}</a>
        </li>
    </ul>
</div>