<div>
    <ul ng-show="user">
        <li> <img ng-src="{{ user.avatar_url }}" style="width:200px;"/> </li>
        <li> <strong>Nome:</strong> {{ user.login }} </li>
        <li> <strong>Localização:</strong> {{ user.location }} </li>
        <li> <strong>Criado em:</strong> {{ user.created_at | date }} </li>
        <li> <a ng-href="{{ user.html_url }}" target="_blank">Perfil</a> </li>
    </ul>
    <p ng-hide="user">Utilizador não disponível</p>
</div>