<!DOCTYPE html>
<html>
<head>
	<meta property="fb:app_id" content="{{ app_id }}" />
	<meta property="og:title" content="{{ title }}" />
	<meta property="og:description" content="{{ caption }}" />
	<meta property="og:image" content="{{ image }}" />
	{% if (width) %}<meta property="og:image:width" content="{{ width }}" />{% endif %}
	{% if (height) %}<meta property="og:image:height" content="{{ height }}" />{% endif %}
</head>

<body>

	<script type="text/javascript">
		setTimeout(function() {
			top.location.href = "{{ redirect_uri }}";
		}, 500);
	</script>

</body>