@font-face {
  font-family: 'icomoon';
  src:url('../sass/fonts/icomoon/icomoon.eot?-jsrbez');
  src:url('../sass/fonts/icomoon/icomoon.eot?#iefix-jsrbez') format('embedded-opentype'),
    url('../sass/fonts/icomoon/icomoon.woff?-jsrbez') format('woff'),
    url('../sass/fonts/icomoon/icomoon.ttf?-jsrbez') format('truetype'),
    url('../sass/fonts/icomoon/icomoon.svg?-jsrbez#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-previousNarrow:before {
  content: "\e608";
}
.icon-nextNarrow:before {
  content: "\e607";
}
.icon-facebook:before {
  content: "\e603";
}
.icon-square:before {
  content: "\e602";
}
.icon-next:before {
  content: "\e606";
}
.icon-previous:before {
  content: "\e604";
}
.icon-linkedin:before {
  content: "\e605";
}
.icon-nextLight:before {
  content: "\e601";
}
.icon-previousLight:before {
  content: "\e600";
}
