<!DOCTYPE html>
<html ng-app="app">

  <head>
    <meta charset="UTF-8">

    <script src="https://code.angularjs.org/1.4.1/angular.js"></script>
    <script src="https://code.angularjs.org/1.4.1/angular-route.js"></script>

    <script src="js/config.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/run.js"></script>
    <script src="js/services.js"></script>

    <link rel="stylesheet" href="styles.css">
  </head>

  <body>

  <nav>
    <ul>
      <li> <a href="#/home" ng-class="{ active: name == 'home' }"> home </a> </li>
      <li> <a href="#/user/show" ng-class="{ active: name == 'userShow' }"> userShow </a> </li>
    </ul>
  </nav>

  <h1>{{ title }}</h1>

  <section ng-view></section>

  </body>

</html>