div, label {
    display: block;
    padding: 10px 0px 10px 0px;
}

input {
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
}

span.clear {
    cursor: pointer;
    font-size: 16px;
}

input:focus {
    outline: none;
}

.error {
    border-color: red;
}

body {
    padding: 10px;
    font-family: sans-serif;
}

nav ul, nav li {
    display: inline-block;
    padding: 0px;
    margin: 0
}

nav li a {
    font-weight: 400;
    cursor: pointer;
    padding-bottom: 5px;
    text-decoration: none;
    color: black;
}

nav li a.active {
    font-weight: 300;
    border-bottom: 1px solid black;
}

section {
    padding: 10px;
}

ul {
    list-style: none;
}