/* Default CSS */
html, body, div, pre, form, fieldset, input, h1, h2, h3, h4, h5, h6, p, textarea, ul, ol, li, dl, dt, dd, blockquote, th, td, abbr, article, aside, audio, canvas, details, figcaption, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, summary, time, video {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code {
  font-style: normal;
  font-weight: normal;
}

ul {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 16px;
  font-weight: normal;
}

q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
}

a {
  outline: none;
  text-decoration: none;
}

a img {
  border: none;
}

:focus {
  outline: none;
}

body, html {
  width: 100%;
  height: 100%;
  overflow: visible;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-size: 12px;
  color: #000;
}

/* Main CSS */
body, html {
  background-color: white;
}

.grid-container {
  max-width: 100%;
  padding: 0;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.main {
  float: left;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: block;
}
.main section {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.main section:nth-child(1) {
  background-color: yellow;
}
.main section:nth-child(2) {
  background-color: blue;
}
.main section:nth-child(3) {
  background-color: green;
}
