<!-- <nav ng-controller="ab-navCtrl">
  <ul>
    <li>
      <span></span>
      <span>favoritos</span>
    </li>
    <li>
      <span></span>
      <span>horários</span>
    </li>
    <li>
      <span></span>
      <span>definições</span>
    </li>
  </ul>
</nav> -->