<div class="modal">
    <div class="modal-dialog">

        <div class="modal-content col-md-12">

            <div class="modal-header col-md-12">
                <button type="button" class="close" ui-sref="users" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Detalhes do utilizador</h4>
            </div>

            <div class="modal-body col-md-12">
                <div class="form-group col-md-4">
                    <h4>Nome</h4>
                    <span>{{ users.list[users_index].name }}</span>
                </div>
                <div class="form-group col-md-4">
                    <h4>Idade</h4>
                    <span>{{ users.list[users_index].age }}</span>
                </div>
                <div class="form-group col-md-4">
                    <h4>Data</h4>
                    <span>{{ users.list[users_index].timestamp * 1000 | date:'shortDate' }}</span>
                </div>
            </div>

            <div class="modal-footer col-md-12">

                <span class="btn btn-default" ui-sref="users">Fechar</span>
            </div>

        </div>

    </div>
</div>