html, body { height:100%; }
body {
  padding:0;
  margin:0;
  background:#fff;
  -webkit-user-select:none;
    -webkit-text-size-adjust:none;
  color:#333;
  font-family:helvetica;
  font-size:12px;
  text-align:center;
}

h1 {
  font-size:2em;
  padding:20px 0;
  margin:0;
}

#wrapper {
  width:100%;
  min-width:320px;
  height:150px;
  background:#ddd;
  border-top:1px solid #aaa;
  border-bottom:1px solid #aaa;
}

#nav {
  position:absolute;
  z-index:100;
  top:8px;
  width:200px;
  height:20px;
  left:50%;
  background:rgba(0,0,0,0.75);
  padding:0;
  margin:0 0 0 -100px;
  -webkit-border-radius:10px;
}

#nav li {
  display:block;
  float:left;
  width:14px;
  height:14px; line-height:14px;
  -webkit-border-radius:7px;
  background:rgba(255,255,255,0.1);
  overflow:hidden;
  padding:0;
  margin:3px 11px 0 0;
  text-align:center;
}

#nav li#prev {
  margin-left:5px;
  background:transparent;
}

#nav li#next {
  margin-right:0;
  background:transparent;
}

#nav li.selected {
  background:rgba(255,255,255,0.4);
}

#swipeview-slider > div {
  position:relative;
  display:-webkit-box;
  -webkit-box-orient:vertical;
  -webkit-box-pack:center;
  -webkit-box-align:center;
  overflow:hidden;
}

#swipeview-slider span {
  -webkit-box-sizing:border-box;
  display:block;
  text-align:center;
  font-size:1.4em;
  padding:0 20px;
}

p {
  padding:20px;
  margin:0;
  font-size:1.4em;
}