@import "compass";

// Vendor CSS
@import "vendor/normalize";
@import "vendor/reset";
@import "vendor/core";

// Unsemantic Grid
$unsemantic-ie7-support: false;
@import "vendor/unsemantic-grid/unsemantic-grid-responsive";

// Fonts
// @import url("http://fonts.googleapis.com/css?family=Lato:300,400,700");

// Icons
@import "fonts/icomoon/icomoon";

// @mixin lato-light { font-family: 'Lato'; font-weight: 300; }
// @mixin lato-regular { font-family: 'Lato'; font-weight: 400; }
// @mixin lato-bold { font-family: 'Lato'; font-weight: 700; }

// Vertial Align
@mixin va-parent { display: table; height: 100%; }
@mixin va-parent-inline { display: inline-table; height: 100%; }
@mixin va-child { display: table-cell; vertical-align: middle; float: none; }

// COLORS
$color-white: #fff;
$color-black: #000;

// CSA COLORS
// $color-csa-red: #EE1720;
// $color-csa-red: #AB1421;
$color-csa-red: #ba1f1e;
$color-csa-red-darker: #6a0a0e;
$color-csa-grey: #818689;

// Main CSS
html { font-size: 62.5% !important; }

body {
  background: #fff;
  font-size: 1em;
  // min-height: 480px;
  font-family: Arial, Helvetica, sans-serif;

  // @include lato-regular;
}

section {
  height: 70%;
  background: #fff;
  z-index: 0;
  float: left;
}

a { transition: all 0.5s; }

// Padding & Margins
$main-padding: 30px;

// Mixins
@mixin figcaption {
	padding: 10px;
	background: $color-black;
	color: $color-white;
	width: auto;
	display: table;
	text-transform: uppercase;
	position: absolute;
	z-index: 1;
	text-align: center;
	box-shadow: 1px 1px 20px 0px $color-black;
}

// Header
@import "base/preloader";

// Header
@import "base/header";

// Footer
@import "base/footer";

// Supersliders
@import "vendor/superslides";

// Partials
@import "partials/categories";
@import "partials/category";
@import "partials/projects";
@import "partials/project";
@import "partials/generic";

// Responsive
@import "base/responsive";

// Exceptions
@import "base/exceptions";